[2017-05-17 13:10] achedeuzot opened #1 "Plugin crash on file colorization"
### Description

SonarScanner crashes while coloring a file. My program has some simple ASCII art and one of the lines makes it crash. `app.Log.Info("    .J (  '-' \"'--'")`

<details>
  <summary>Example error log</summary>
    12:54:56.583 DEBUG: string
    12:54:56.583 DEBUG: position -1 line    app.Log.Info("      / .--, _ a L")
    12:54:56.586 INFO: -------------------------------------------

[2017-05-18 14:18] thibaultfalque commented on #1
Hi,
Thanks you for your feedback.

Sorry for the late answer.

I am fixing the problem.

The correction will be in release 1.2.1.

Regards.
Thibault.

[2017-05-18 16:11] achedeuzot commented on #1
Hi Thibault,

Thanks for your help ! In the meantime I've removed the incriminating problem in the string and it works.

Best regards,

Klemen

[2017-05-19 07:29] thibaultfalque commented on #1
Hi,
I just published the bug fix release. Please the close the issue if the problem is solved on your side.

Regards,
Thibault.

[2017-05-19 12:23] achedeuzot commented on #1
I just re-ran the tests and it passed. Fixed :)
Thank you ! :D

[2017-05-19 12:23] #1 closed

[2017-05-22 14:20] andrew-maytech opened #2 "Latest doesn't work with Sonar"
### Description

Latest doesn't work with SonarQube

### Steps to Reproduce

1. I installed https://github.com/uartois/sonar-golang/releases/tag/1.2.1 on our SonarQube server (jar file).
2. Restarted the server
3. Got the log below

### Versions

Versions of my sonar installation - Version 6.3.1.21392

### Additional Information

Sonar Log:
java.lang.IllegalStateException: Unable to read plugin ma

[2017-05-22 14:57] #2 closed

[2017-06-02 09:36] skalaiyarasan opened #3 "golint : Lines of code isn't showing in sonarqube"
### Description
golint : Lines of code and history aren't showing in sonarqube

Can you please fix this one

[2017-06-02 09:51] thibaultfalque commented on #3
Okey for lines of code. But I don't understand for "history" ? Please could you explain.

[2017-06-02 09:55] skalaiyarasan commented on #3
Sorry.. please ignore history .

[2017-06-02 10:19] thibaultfalque commented on #3
Hi,
I just published the bug fix release. Please close the issue if the problem is solved on your side.

Regards,
Thibault.

[2017-06-02 10:26] gozali opened #5 "Getting Issues Report in Preview Mode"
Actually this is not an issue but more like a question. I'm trying to running an analysis in preview mode but somehow I didn't get anything. Is preview mode not supported yet?

Thanks

[2017-06-02 12:07] skalaiyarasan commented on #3
Thanks Thibault..its working

[2017-06-02 12:07] #3 closed

[2017-06-02 15:43] thibaultfalque commented on #5
Hi,
Thanks for your feedback.

I have tried to execute in preview mode with this parameter:
[code]

- the first time I did not have error because I did not have new issues.
![noissue](https://cloud.githubusercontent.com/assets/6603358/26733151/3b41b5ec-47ba-11e7-953f-2eab8250ff39.png)

- the second time, I had new issue for test and the issue is showing.
![newissue](https://cloud.githubusercontent

[2017-06-02 16:25] Rahul-Palliyalil opened #6 "Not reporting Golint errors"
### Description

created report.xml using gometalinter. Ran sonar-scanner and the log says
"Analysis report generated and Analysis report uploaded".
I logged into my dashboard to see the results and it says Bugs 0, codesmells 0 and vulnerabilities 0 for my project, which is not true. I have activated most of the Golint rules in my dashboard .

### Steps to Reproduce

1. gometalinter.v1 ./... --che

[2017-06-02 16:59] thibaultfalque commented on #6
Hi,
Thanks for your feeback.

Could you copy the content of your sonar-project.properties ?

Regards,
Thibault.

[2017-06-02 18:29] danielleberre commented on #6
Would it be possible to attach the generated report.xml file to the bug report? It would help us reproduce the issue.

[2017-06-02 18:37] danielleberre commented on #6
Did you set the reportPath property to your specific location?

[code]

There should be a message in the log indicating if a report.xml file has been found or not.

[2017-06-02 18:51] amitmawkin opened #7 "Unit Test Reporting not showing"
### Description

[Description of the issue]
While running this for golang, i could see coverage etc but no unit test report or history

### Content of your sonar-project.properties
sonar.projectKey=abcd
sonar.projectName=api
sonar.projectVersion=1.0
sonar.golint.reportPath=report.xml
sonar.coverage.reportPath=coverage.xml
sonar.test.reportPath=test.xml
sonar.sources=./
sonar.exclusions=*test.go
##

[2017-06-02 19:12] thibaultfalque commented on #7
Hi,
Thanks for your feeback.
Would it be possible to attach the generated report.xml for the bug report, coverage.xml for the coverage report and test.xml for the test unit report files and the logs ?
It would help us reproduce the issue.

Regards,
Thibault.

[2017-06-03 15:10] skalaiyarasan opened #8 "Both coverage and unit test reports are not importing into sonarqube"
### Description

report.xml, coverage.xml, test.xml have been generated by sonar-golang git wiki (https://github.com/uartois/sonar-golang). But coverage and unit test reports are not importing into sonarqube. I could see below error for coverage report in scanner logs. But no details about unit test.

====================================
17:15:42.849 INFO: Analyse for /home/bldadm/test/dca-analyti

[2017-06-03 16:21] danielleberre commented on #8
It looks like the coverage.xml file is not correctly formed. It would be nice if you could attach it to the bug report, such that we can check on our side what's going on.

Regarding the tests, it would be nice if you could also attach the test.xml file to allow us to check what's going on.

[2017-06-03 17:27] skalaiyarasan commented on #8
[test.docx](https://github.com/uartois/sonar-golang/files/1049750/test.docx)
[coverage.docx](https://github.com/uartois/sonar-golang/files/1049751/coverage.docx)

[2017-06-03 20:43] danielleberre commented on #8
hum, that's very strange: the xml file is correctly built.

Do you have access to the internet when you perform the analysis?

The DTD is available at http://cobertura.sourceforge.net/xml/coverage-03.dtd and the XML parser may launch an exception if it cannot access that DTD.

[2017-06-04 04:24] skalaiyarasan commented on #8
Yes.. can access the internet. (proxy has been set in the system)

[2017-06-04 04:39] skalaiyarasan commented on #8
One more thing. reports are generated inside the dockers which has Debian GNU/Linux 8 (jessie).
Sonar -scan is done in out of the docker (base os) which has RHEL 7.1

[2017-06-04 08:29] danielleberre commented on #8
Ok, the issue is probably the proxy (we also have one in our uni which causes us some headache).

Did you set the proxy for sonar-scanner?

Java VM does not take into account the system proxy settings. As such, it is necessary to pass it to the VM.

You can do that by adding the following property to your sonar-project.properties:

[code]

[2017-06-04 10:56] skalaiyarasan commented on #8
Thanks..Let me check

[2017-06-05 08:28] gozali commented on #5
I didn't get any issues, but when I run golint manually it reports some issues, and also report.xml showing some errors.

Here is my environment :

- Sonar Version 6.3.1 (build 21392)
- SonarQube Scanner 3.0.1.733
- sonar-golang 1.2.2

my sonar-project.properties file :
[code]

[code]

I run this via Jenkins, trying to automate coding style. Any idea?

Thanks

[2017-06-05 08:53] danielleberre commented on #5
AFAIK, the plugin should report 3 issues:

[code]

The remaining errors are issues with the tools which cannot access some code.

@thibaultfalque do we support them?

[2017-06-05 09:34] thibaultfalque commented on #5
@danielleberre
Yes, I have checked the rules and I support this error for "errcheck" .
I added acceptance tests for this messages.

@gozali
The Sonarqube documentation say:

So I think Sonarqube have register this violations and output "no new issue" because there is not new issue in the code since the last analysis. But if you run "gometalinter" or "golint" they are showing "errors" because there

[2017-06-05 14:22] skalaiyarasan commented on #8
I set proxy in sonar-project.properties. But same issue ..

[2017-06-05 14:42] danielleberre commented on #8
hum.

@thibaultfalque could you disable DTD checking and append a new release of the plugin to that bug report?

I am pretty sure that the issue is that that Java code is not able to access the DTD because you are behind a proxy. By disabling the verification, it should work fine.

If this is really the issue, we may want to add a new property to disable that DTD check in sonar-project.properties.

[2017-06-06 05:03] thibaultfalque commented on #8
Hi,
I published a new version (1.2.3-alpha).
Please check if the coverage file is parsed. If yes I add this fix for all xml file and add a properties in sonar-project.properties.

[2017-06-06 05:23] skalaiyarasan commented on #8
Hi,

I replaced the plugin with a new version 1.2.3-alpha. I didn't any error from scanner logs. But reports didn't imported into Sonarqube. Also i noticed below info from scanner logs

INFO: Analyse for /home/bldadm/test/dca-analytics-cobridge/src/github.com/IMS/dca-analytics-cobridge.git/cohandler/coverage.xml
INFO: no coverage file in package /home/bldadm/test/dca-analytics-cobridge/src/githup.

[2017-06-06 06:05] danielleberre commented on #8
Ok, so the issue is really related to the impossibility to access the DTD.

The 1.2.3-alpha only disabled the DTD validation for coverage.xml. Let us disable also the validation for the other files.

[2017-06-06 08:05] skalaiyarasan commented on #8
Ok..Let me know what I have to do after that

[2017-06-06 08:49] danielleberre commented on #8
This is strange, since there is no DTD for the xml test report file. It would work properly for that, i.e. you should see one test reported on your dashboard.

[2017-06-06 08:55] skalaiyarasan commented on #8
no..i didn't see unit test report in sonarqube dashboard

[2017-06-06 09:12] skalaiyarasan commented on #8
Hi ,

I tried to run solar scanner inside of the docker container.  Now i could see that coverage report in dashboard.

[2017-06-06 09:15] danielleberre commented on #8
could we get a hand on an archive of your code to reproduce the problem?

You could for instance send me a temporary link to daniel.leberre@univ-artois.fr to avoid attaching it to the issue and make it visible to everybody.

[2017-06-06 09:20] danielleberre commented on #8
Hum, this is strange. As long as the reports and the code are available for the scanner, it should work on your base OS.

[2017-06-06 09:23] skalaiyarasan commented on #8
yes. you are correct. When i run scanner inside docker, coverage report got imported into dashboard. but no test report.

Sorry Daniel. I can't share source code due to company policy.

[2017-06-06 09:31] danielleberre commented on #8
ok, no worries.

Do you see in the log a mention of report.xml file?

[2017-06-06 09:34] skalaiyarasan commented on #8
i could see that

09:14:53.855 DEBUG: Count lines in /home/dca-analytics-cobridge/src/github.hpe.com/IMS/dca-analytics-cobridge.git/cohandler/test.xml
09:14:53.863 INFO: Sensor XML Sensor [xml] (done) | time=494ms
09:14:53.863 INFO: Sensor GoMetaLinter issues loader sensor [golang]
09:14:53.873 INFO: Parse the file report.xml
09:14:53.873 INFO: Parsing 'GoLint' Analysis Results
09:14:53.873 DEBUG:

[2017-06-06 09:40] danielleberre commented on #8
Ok, something went wrong when parsing the report.xml file.

Would it be possible to append the report.xml file to the issue, without modification? We may have a charset issue: we expect the report to be in UTF-8, not US-ASCII.

[2017-06-06 09:44] skalaiyarasan commented on #8
Please find the report.xml

[report..docx](https://github.com/uartois/sonar-golang/files/1054467/report.docx)

[2017-06-06 09:49] danielleberre commented on #8
@thibaultfalque could you check if GoMetaLinter can force the charset using the command line?

I suspect that the tools (golint, etc) use the system charset (US-ASCII). We would need to force it to UTF-8.

[2017-06-06 15:33] thibaultfalque commented on #8
@danielleberre I did not find anything to force the charset from the command line ...

[2017-06-07 03:20] gozali commented on #5
finally I figure it out, I should fix the path and scan only go files. thanks @thibaultfalque @danielleberre

<img width="778" alt="screen shot 2017-06-07 at 10 19 04 am" src="https://user-images.githubusercontent.com/20762/26860930-d8729fc6-4b6a-11e7-9970-cc326692f088.png">

[2017-06-07 03:20] #5 closed

[2017-06-07 09:07] skalaiyarasan opened #9 "Getting a error while sonar scanning"
09:05:50.180 INFO: ------------------------------------------------------------------------
09:05:50.180 ERROR: Error during SonarQube Scanner execution
java.lang.IllegalStateException: Line 62 is out of range in the file src/credential-manager/rest/router.go (lines: 43)
        at org.sonar.api.internal.google.common.base.Preconditions.checkState(Preconditions.java:197)
        at org.sonar.api.b

[2017-06-07 09:50] danielleberre commented on #9
Could you tell us how many lines exist in src/credential-manager/rest/router.go?

It would be nice to also have access to the cover report.

[2017-06-07 10:05] skalaiyarasan commented on #9
43 lines (39 sloc)

[2017-06-07 10:45] skalaiyarasan commented on #9
Do u want me to send coverage report as well??

[2017-06-07 11:06] danielleberre commented on #9
if possible yes. We need to check if the inconsistency lies in that file or in our code.

[2017-06-07 12:34] skalaiyarasan commented on #9
Hi ,

I attached coverage report ( coverage_route.docs) for previous error Line 62 is out of range in the file src/credential-manager/rest/router.go (lines: 43).

and coverage_ercrypt.docs for one more error java.lang.IllegalStateException: Line 30 is out of range in the file encrypt/encryptionError.go (lines: 15)

Note : plugin is sonar-golang-plugin-1.2.3-alpha.jar
[coverage_router.docx](https:/

[2017-06-07 12:36] skalaiyarasan commented on #9
encrypt/encryptionError.go  ->15 lines (11 sloc)

source code
======================
package encrypt

//The error returned when there is an encryption problem
type EncryptionError struct {
    s string
}

func NewEncryptionError(message string) error {
    return &EncryptionError{message}
}

func (e *EncryptionError) Error() string {
    return e.s
}
==========================

[2017-06-07 12:41] danielleberre commented on #9
AFAIK, the coverage files looks ok. It must be an issue in our code :(

[2017-06-07 13:33] skalaiyarasan commented on #9
ok.. let me know once you have fixed

[2017-06-07 19:49] amitmawkin commented on #7
Unfortunately it has too much of our internal stuff and would require significant hygiene before I can publish.
I will try to mess with the code to see if I can fix it on our end and contribute back

[2017-06-07 19:50] amitmawkin commented on #9
we also saw this issue

[2017-06-07 21:56] danielleberre commented on #9
1.2.3_beta should fix the issue.

[2017-06-08 05:43] skalaiyarasan commented on #9
have you published 1.2.3_beta ?

[2017-06-08 06:06] danielleberre commented on #9
Yes: https://github.com/uartois/sonar-golang/releases/tag/1.2.3_beta

it is not a plain release because we still need to fine a nice way to solve #8

[2017-06-08 08:49] skalaiyarasan commented on #9
Still same issue

=====================================
INFO: ------------------------------------------------------------------------
ERROR: Error during SonarQube Scanner execution
java.lang.IllegalStateException: Line 30 is out of range in the file encrypt/encryptionError.go (lines: 15)
        at org.sonar.api.internal.google.common.base.Preconditions.checkState(Preconditions.java:197)

[2017-06-08 08:54] danielleberre commented on #9
Could you check on sonar dashboard that you really run 1.2.3_beta?

[2017-06-08 09:04] skalaiyarasan commented on #9
yes..

[2017-06-08 09:20] danielleberre commented on #9
could you log as admin and check that this is really the plugin running inside the app?

[2017-06-08 09:27] skalaiyarasan commented on #9
i'm logged in through admin only. See, sonar analysis has been done if i removed coverage report and able to view project with bug & code smells in sonar qube dashboard.

[2017-06-08 09:29] danielleberre commented on #9
ok. I will check to reproduce the problem using just you report file. I will keep you in touch.

[2017-06-08 10:08] danielleberre commented on #9
I cannot reproduce easily the problem without the original source code.
I created a new release which is robust to inconsistencies in line numbering.
Instead of throwing an exception, an error with details will appear in the logs.

[2017-06-08 11:05] skalaiyarasan commented on #9
yes..i agreed that. but couldn't share source code with you. Please try to create a release what you said . Thanks

[2017-06-08 11:16] thibaultfalque commented on #7
Hi,
Ok I understood.

[2017-06-08 11:38] danielleberre commented on #9
The release is available here: it appears after the beta one because I did not push the fix on github.

https://github.com/uartois/sonar-golang/releases/tag/v1.2.3_gamma

[2017-06-08 14:15] skalaiyarasan commented on #9
Now scanner has been run without throwing any exception. I could see the coverage reports sonarqube dashboard.

Would it be fine right ?

[2017-06-08 14:47] danielleberre commented on #9
No, it is not really fine: we just prevent the tool to stop when an inconsistency is found.

You should see some errors in the logs when a problem occurs. Could you report them here?

[2017-06-08 15:03] skalaiyarasan commented on #9
find the sonar scanner log.

one more thing. i could see that only two files are showing in coverage (sonarqube).
[sonar_log.docx](https://github.com/uartois/sonar-golang/files/1061415/sonar_log.docx)

[2017-06-08 16:47] danielleberre commented on #9
Here are all the issues we have with your code and your coverage files:

[code]

[2017-06-08 17:10] danielleberre commented on #9
ok, we found the reason of those errors in the xml file.

We are working on it. We should be able to produce a 1.2.3 release solving this issue and #8 in the next few days.

Thanks for your help to dig that out.

[2017-06-08 17:11] AlexandreRzc opened #10 "Coverage : only the last class is displayed in SonarQube"
### Description

Only the last class/file of the generated report is displayed in the coverage section in SonarQube

### Steps to Reproduce

0. Generate a coverprofile file on folder with several go files
1. Generate a coverage report with the command : gocov convert cover.out | gocov-xml > coverage.xml
2. Launch Sonar Scanner
3. Look at the coverage section in SonarQube : only the last file/class

[2017-06-08 17:44] danielleberre commented on #10
Thanks for pointing that out.

There is indeed an issue in the way we deal with the cover files. We need to feed sonar after each file in the report, not at the end of the report.

We will do our best to provide you a fix ASAP. Sorry for the inconvenience.

[2017-06-09 04:48] danielleberre commented on #9
@skalaiyarasan Regarding your remark concerning the two files appearing in coverage, while many more appear in the coverage file, it is certainly related to #10. We are working of a release to solve issues #8 to #10.

[2017-06-09 05:41] skalaiyarasan commented on #9
yes..you are correct @danielleberre. thanks

[2017-06-09 10:28] thibaultfalque commented on #6
hi @Rahul-Palliyalil
Have you solved your problem ?

Regards.

[2017-06-09 10:39] thibaultfalque commented on #10
Hi,
I just published the bug fix release. Please close the issue if the problem is solved on your side.

Regards,
Thibault.

[2017-06-09 10:39] thibaultfalque commented on #9
Hi,
I just published the bug fix release. Please close the issue if the problem is solved on your side.

Regards,
Thibault.

[2017-06-09 13:07] AlexandreRzc commented on #10
It works now : bravo ! :)

[2017-06-09 13:07] #10 closed

[2017-06-09 13:28] danielleberre commented on #9
@thibaultfalque just made a release with the fixes.

[2017-06-10 07:45] skalaiyarasan commented on #9
@danielleberre  , @thibaultfalque  now its working fine. coverage of all files which are coming in dashboard.

Thanks.

[2017-06-10 07:46] skalaiyarasan commented on #8
Still unit test report is not imported into dashboard

[2017-06-10 08:05] danielleberre commented on #9
ok, good. We let you close the issue then.

[2017-06-10 08:07] danielleberre commented on #8
ok, it looks related to #7. I would propose to close this issue and to move the discussion to #7.

[2017-06-10 08:53] thibaultfalque commented on #7
Hi,
Do you have this line in log: "no junit report" or a parsing exception ?

[2017-06-10 09:11] thibaultfalque commented on #7
ok I understood. I just corrected the problem. Please check.

[2017-06-10 09:38] skalaiyarasan commented on #9
The issue got fixed. closing this issue.

Thanks @danielleberre and @thibaultfalque

[2017-06-10 09:38] #9 closed

[2017-06-10 09:50] skalaiyarasan commented on #8
Hi @danielleberre

v1.2.4

Only first file of the unit tests got imported , not other's unit test

[2017-06-10 09:56] danielleberre commented on #8
@thibaultfalque changing the `return` to a `continue` in the files loop is a workaround for that issue.

@skalaiyarasan we noticed that some files referenced in the xml file are not found during the importation, thus causing an error in the importation of the results. We are working on the issue.

[2017-06-10 10:02] skalaiyarasan commented on #8
Thanks

[2017-06-10 10:48] danielleberre commented on #8
v1.2.5 https://github.com/uartois/sonar-golang/releases/tag/v1.2.5

should fix your problems.

[2017-06-10 11:24] skalaiyarasan commented on #8
still same issue

[2017-06-10 11:49] danielleberre commented on #8
Could you provide us the logs of sonar-scanner? it should be easier now to see what's going on.

[2017-06-10 14:14] danielleberre opened #11 "Find a nice way to prevent sonar to analyze third party xml reports"
### Description

The plugin uses xml files produced by third party tools to feed sonar.

By default, those xml files will be analyzed by sonar xml plugin.

It would be nice to find a way to prevent that easily (i.e. without further action from the end-user).

### Potential solutions

1. add the xml files programmatically in the exclusion list of sonar (is it even possible?)
2. name the files in su

[2017-06-12 05:27] skalaiyarasan commented on #8
INFO: Sensor Go Coverage [golang] (done) | time=48ms
INFO: Sensor Go test JUnit loader sensor [golang]
WARN: file not found /home/dca-cm/src/credential-manager/rest
INFO: Sensor Go test JUnit loader sensor [golang] (done) | time=8ms
INFO: Sensor Go Highlighter Sensor [golang]
INFO: Sensor Go Highlighter Sensor [golang] (done) | time=75ms
INFO: Sensor Go Metrics Sensor [golang]
INFO: Sensor Go Metr

[2017-06-12 05:56] danielleberre commented on #8
The plugin expect your tests to be in the file `/home/dca-cm/src/credential-manager/rest_test.go`.

[2017-06-12 06:08] skalaiyarasan commented on #8
We won't have rest_test.go . But we have three test files with different name,  But package name is rest of these files

[bldadm@suotblrbld044g rest]$ pwd
/home/dca-cm/src/credential-manager/rest
[bldadm@suotblrbld044g rest]$ ls | grep test
credentialdata_routes_test.go
credential_routes_test.go
resource_routes_test.go
[bldadm@suotblrbld044g rest]$

-----------------------------------
[bldadm@suot

[2017-06-12 06:12] danielleberre commented on #8
ok. Here is the issue: the junit file does not contain the name of the test file, so we need to infer it.

Up to now, we simple append "_test.go" to the class under test.

It looks like we need something more sophisticated :)

[2017-06-12 06:51] danielleberre commented on #8
I guess that the unit test report is different from the one found in previous comments (`test.docx`), which does not include any mention to `/home/dca-cm/src/credential-manager/rest`?

[code]

[2017-06-12 06:55] skalaiyarasan commented on #8
sorry. that was for initial issue file.

PFA - current issue

[test.docx](https://github.com/uartois/sonar-golang/files/1067253/test.docx)

[2017-06-12 07:52] Rahul-Palliyalil commented on #6
Apologies, for the delay in responding .still having the same issue

So to answer your questions

1. Did you set the reportPath property to your specific location?

Yes, I have created a "sonar-project.properties" file at my project root level. and have the following options set

sonar.projectKey=peep-new
sonar.projectName=peep-adapter-new
sonar.projectVersion=1.0
sonar.golint.reportPath=report.xm

[2017-06-12 08:10] danielleberre commented on #8
hum, there is no references to `credentialdata_routes`, `credential_routes` or `resource_routes` in the junit file.

@thibaultfalque there is maybe an option in `go-junit-report` to make that information visible. If it is not the case, I do not see how we could relate the failing test to the files available in a package ...

[2017-06-12 08:12] danielleberre commented on #6
Could you try with the current release 1.2.5?

We sanitized the logs so it should be easier know to detect any issue with the config.

[2017-06-12 08:29] Rahul-Palliyalil commented on #6
Now i tried to run gometalinter.v1 ./... --checkstyle > report.xml. from root directry of project and with the report.xml that got generated, I ran sonar-scanner. This time it crashed with the following error

"ERROR: Error during SonarQube Scanner execution
java.lang.IllegalStateException: Cannot register highlighting rule for characters at Range[from [line=22, lineOffset=2] to [line=22, lineOffs

[2017-06-12 08:47] danielleberre commented on #6
We have a basic syntax highlighter for v1 of the plugin (we are working on a more sophisticated one for v2).

Can you guess the 22nd line of which file is producing the problem?

I believe you may have a keyword in a string or something like that here.

[2017-06-12 09:09] Rahul-Palliyalil commented on #6
thanks a lot.Let me have a look now

[2017-06-12 09:26] Rahul-Palliyalil commented on #6
still failing with the same crash .

java.lang.IllegalStateException: Cannot register highlighting rule for characters at Range[from [line=22, lineOffset=2] to [line=22, lineOffset=6]] as it overlaps at least one existing rule
        at org.sonar.api.batch.sensor.highlighting.internal.DefaultHighlighting.checkOverlappingBoudaries(DefaultHighlighting.java:58)
        at org.sonar.api.batch.sensor.

[2017-06-12 09:33] danielleberre commented on #6
Hum, sorry for that. I thought the issue was occurring when the highlight was declared, it happens when it is "saved".
https://github.com/uartois/sonar-golang/releases/tag/v1.2.7 should prevent this.

[2017-06-12 09:39] thibaultfalque commented on #8
Hi,
There is not option to make information visible.

So the problem is the report associate all test with the package without any information of filename.

I have created an [issue](https://github.com/jstemmer/go-junit-report/issues/57) on `go-junit-report`

[2017-06-12 09:41] Rahul-Palliyalil commented on #6
When I had a look at the crash, it seems that it was becasue it was scanning through the external linter package .Well as I don't need this to be scanned i deleted the package and it works .Now the scanning did finish and it showed in the logs , it is generating the analysis report, but when i look at the sonar dashboard nothing has been reported

INFO: org.sonar.scanner.cpd.deprecated.DefaultCpdB

[2017-06-12 09:44] Rahul-Palliyalil commented on #6
![image](https://user-images.githubusercontent.com/3696935/27028221-0e4f1a08-4f5c-11e7-8518-b7f75df43165.png)

[2017-06-12 09:50] danielleberre commented on #6
I see no mention of go related sensors in the logs: could you provide us the full logs?

[2017-06-12 10:35] Rahul-Palliyalil commented on #6
unfortunately, the scanner is exposing some of our inputs which we can;t share at the moment . So basically this is scanning through the lines of code and just displaying this message

[2017-06-12 10:49] Rahul-Palliyalil commented on #6
**The contents of my report.xml is**

<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.0"><file name="src/cmd/main.go"><error column="0" line="35" message="possible formatting directive in Fatal call" severity="error" source="vet"></error><error column="0" line="42" message="possible formatting directive in Fatal call" severity="error" source="vet"></error></file></checkstyle>

[2017-06-12 10:49] Rahul-Palliyalil commented on #6
**The contents of my report.xml**

<```
?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.0"><file name="src/bumblebee-peep-adapter/cmd/bumblebee-peep-adapter-server/main.go"><error column="0" line="35" message="possible formatting directive in Fatal call" severity="error" source="vet"></error><error column="0" line="42" message="possible formatting directive in Fatal call" severity="er

[2017-06-12 10:52] Rahul-Palliyalil commented on #6
contents of my report.xml

[code]

[2017-06-12 11:19] thibaultfalque commented on #6
@Rahul-Palliyalil that's all ?
No more content in the report?

[2017-06-12 11:25] Rahul-Palliyalil commented on #6
no, it seems that this is the only content when i create report.xml by running "gometalinter.v1 ./... --checkstyle > report.xml" from root folder of the project.But when i run the same from inside service directory, it will have lots of input  and output values from the code. But still in both the cases it is not showing golint errors in the dashboard

[2017-06-12 11:27] danielleberre commented on #6
Do you have lines starting with

[code]

or

[code]

or

[code]

?

Those lines indicate that sonar recognized go files and launched the appropriate sensors on them.

[2017-06-12 11:57] Rahul-Palliyalil commented on #6
**this is just a sample from the entire report.xml**

INFO: Scanner configuration file: /opt/sonar/sonar-scanner-3.0.3.778-linux/conf/sonar-scanner.properties
INFO: Project root configuration file: /root/service/sonar-project.properties
INFO: SonarQube Scanner 3.0.3.778
INFO: Java 1.8.0_121 Oracle Corporation (64-bit)
INFO: Linux 4.9.27-moby amd64
INFO: User cache: /root/.sonar/cache
INFO: Load gl

[2017-06-12 12:13] danielleberre commented on #6
This important information is here:

[code]

AFAI understand, GoMetalLinter found one violation and that violation is properly detected by our plugin.

It is strange that it does not show up in the dashboard ...

[2017-06-12 12:21] Rahul-Palliyalil commented on #6
do i have to make any changes in the dashboard configuration for this to appear ?

[2017-06-12 12:23] danielleberre commented on #6
No. You just need to check that the rules are active, which should be the case.

[2017-06-12 12:26] Rahul-Palliyalil commented on #6
![image](https://user-images.githubusercontent.com/3696935/27033771-b22c2786-4f72-11e7-9142-6d67e044457c.png)

this shows around 43 rules are active

[2017-06-12 12:37] danielleberre commented on #6
@thibaultfalque any idea? I do not understand what's going on.

[2017-06-12 12:53] Rahul-Palliyalil commented on #6
anything with the sonarqube version i have installed maybe ?

[2017-06-12 15:47] danielleberre commented on #6
There is something strange happening. We do not support all the violations of GoMetaLinter: we display in that case a warning in the logs.

The current supported rules can be found here:
https://github.com/uartois/sonar-golang/blob/maintenance/src/main/resources/key.properties

Yours, originating from the "vet" tool according to the report, is not supported yet.

It is surprising that no warning i

[2017-06-12 16:51] dthagard opened #12 "Getting Warnings on Importing Unknown Linting Errors"
### Description

When running the sonar-golang plugin and importing the `report.xml` created by gometalinter using the `ineffassign` and `gas` linters, I receive the following warnings in the output:

[code]

### Steps to Reproduce

1. Create a golang based project that creates warnings when running the `ineffassign` and/or `gas` linters.
2. Run gometalinter with the `ineffassign` and `gas` linter

[2017-06-12 17:08] danielleberre commented on #12
Thanks for reporting the missing support for those violations, and thanks for the PR.

We add support for violations ASA we meet them, because there is no easy way to get a list of all GoMetaLinter violations.

[2017-06-12 21:39] thibaultfalque commented on #6
Hi,
This release add the vet violation, please use this release and check if you have any problems.
https://github.com/uartois/sonar-golang/releases/tag/v1.2.8

[2017-06-13 08:16] Rahul-Palliyalil commented on #6
tried with the new version (reduced logs displayed). still no bugs reported on the dashboard.

INFO: Scanner configuration file: /opt/sonar/sonar-scanner-3.0.3.778-linux/conf/sonar-scanner.properties
INFO: Project root configuration file: /root/service/sonar-project.properties
INFO: SonarQube Scanner 3.0.3.778
INFO: Java 1.8.0_121 Oracle Corporation (64-bit)
INFO: Linux 4.9.27-moby amd64
INFO: Use

[2017-06-13 08:19] danielleberre commented on #6
It is probably because the new rules are not activated.

+ Go on the Quality Profiles page
+ Click on the arrow near the "Create" button
+ Click on "Restore Built-In Profiles"
+ Choose the language (Go)
+ Click on "Restore"

[2017-06-13 08:23] Rahul-Palliyalil commented on #6
updated this and reran, still no change in the dashboard

![image](https://user-images.githubusercontent.com/3696935/27072946-06b2a738-501a-11e7-94b3-71803f973326.png)

[2017-06-13 08:35] danielleberre commented on #6
Could you check that you have now 45 active rules?

[2017-06-13 08:59] Rahul-Palliyalil commented on #6
it says 40 and 7 inactive

[2017-06-13 09:02] danielleberre commented on #6
So you need to restore the go profile to activate the new rules, using the procedure above.

Once all the rules are activated, you should see your violation in the dashboard.

[2017-06-13 09:12] Rahul-Palliyalil commented on #6
Great, it works now. Thanks a lot

[2017-06-13 09:12] #6 closed

[2017-06-14 08:50] skalaiyarasan commented on #8
Still we didn't get any update for an issue on go-junit-report

[2017-06-14 13:51] f-sys commented on #11
`sonar.exclusions=vendor/**,.git/**, **/*test.go, **/*.xml`

[2017-06-16 14:29] f-sys opened #14 "Coverage is sometimes reported, sometimes not."
### Description

When golang coverage is generated locally and sonar-scanner is launched locally it reports coverage measures to sonarqube. When it is launched in docker environment via Gitlab CI, it doesn't report coverage. Golang xml files are same, sonar-scanner scans vendor folder, but it is excluded.

### Steps to Reproduce

1. In Gitlab CI run golang coverage
2. Run sonar-scnner

### Content

[2017-06-16 15:10] danielleberre commented on #14
I guess that you are experiencing the same issue as #8

The issue is that there is a dtd in the xml report for the coverage.

When using the docker image, you do not have access to internet, thus the xml file cannot be validated with the online dtd.

We added a property which should fix this:

[code]

[2017-06-16 15:46] f-sys commented on #14
I've tried dtdVerification=false, it's ignored anyway.

[2017-06-17 08:53] thibaultfalque commented on #14
Ok it's strange.
I will try to reproduce the problem.

[2017-06-17 08:56] thibaultfalque commented on #8
Hi,
I will make changes on the plugin to improve package analysis.

[2017-06-19 08:49] skalaiyarasan commented on #8
sure @thibaultfalque

[2017-06-27 08:46] skalaiyarasan commented on #8
@thibaultfalque  now its got fixed ?

[2017-06-27 22:08] thibaultfalque commented on #8
I apologize for the delay. I just publish the last release 1.2.9 and this release fix the problem. Please try.
Thanks.

[2017-06-27 22:35] thibaultfalque commented on #14
Hi,
I'm sorry for the response time.
I have just publish a pre-release (1.2.10-alpha) who add more debug information.
Please re-try with -X arg for sonar-scanner and republish the log.

[2017-06-27 22:37] thibaultfalque commented on #7
Is your problem resolved?

[2017-06-28 05:51] skalaiyarasan commented on #8
I used the release 1.2.9. But we are getting below error

11:20:48.632 INFO: search test function in /home/bldadm/workspace/sonar-dca-cm-docker-test/src/credential-manager/encrypt/encrypt_test.go
11:20:48.636 INFO: ------------------------------------------------------------------------
11:20:48.636 INFO: EXECUTION FAILURE
11:20:48.636 INFO: --------------------------------------------------------

[2017-06-28 10:14] thibaultfalque commented on #8
Do all your test functions start with "Test"?
Because I search all the test functions and I consider that it starts with "Test" and finish by "(", so for example:
`func TestMax(t *testing.T)`
Here, I find TestMax.

But  I think fix the problem in the release 1.2.9-beta, if not I add more log for understand the problem.

[2017-06-30 11:19] skalaiyarasan commented on #8
Please find below test case.  it starts with Test* pattern

func TestKeyOnlyInBackup(t *testing.T){
    removeKeyFile()
    copyFileContent("testSamples/static_id_rsa", "testSamples/backup/id_rsa")
...

But its still same issue. It's taking a unit test which has decided with file name

[2017-07-01 11:40] thibaultfalque commented on #8
Can you copy the logs ?

[2017-07-02 15:58] thibaultfalque commented on #8
I tried to reproduce the problem, but I can not. Me all the tests are displayed even if they are not in a file with the package name.
![capture du 2017-07-02 17-53-58](https://user-images.githubusercontent.com/6603358/27771513-04629ef8-5f50-11e7-8e68-da3ef3c72a5e.png)

[2017-07-12 06:34] skalaiyarasan commented on #8
v1.2.9-gamma is working ..thanks

[2017-07-14 12:50] tpjg opened #15 "Overlapping highlighter"
### Description

The highlighter (Colorizer.java) is producing overlapping highlights that SonarQube cannot handle. I believe this could be due to the highlighting being split across highlightingStringInLine and highlightingKeyWord (and highlightingType which was commented out in the version i checked out, git ee9e6670a35545dbc56457bc5f6d32306b17b569).

I commented out the highlightingKeyWord func

[2017-07-14 13:01] thibaultfalque commented on #15
Hi,
Thanks for your feedback. I have tried to reproduce the problem but I have not this problem because since the version 1.2.7, we had a try catch when saving the coloration. So do you use the 1.2.7+ version ?

[2017-07-14 13:04] tpjg commented on #15
Looking in the pom.xml it seems I'm on sonar-golang 1.2.2. Which is strange since I did a "git clone
https://github.com/uartois/sonar-golang" today since I didn't see where I could get a prebuilt JAR file.

Where can I get 1.2.7+?

p.s. other version info:
INFO: SonarQube Scanner 3.0.3.778
INFO: SonarQube server 6.4.0

[2017-07-14 13:06] tpjg commented on #15
Forget last question - now looking at the "Releases" page. Will try again with 1.2.8.

[2017-07-14 13:08] thibaultfalque commented on #15
Yes because there are two branch. A master branch with major modification (Actually I develop a v2 with the grammar of go for Highlighting)  and maintenance branch for fix bug.

[2017-07-14 13:11] tpjg commented on #15
Okay, thanks. I confirm this issue is not in 1.2.8

[2017-08-01 17:07] #7 closed

[2017-08-01 17:36] thibaultfalque commented on #8
@skalaiyarasan can I close the issue ?

[2017-08-01 18:03] blxdaniel opened #17 "GoLang Scan Results No Showing in the UI"
### Description

After running a scan on a go project, the UI does not show any results. However, the report.xml records the results

### Steps to Reproduce

1. Create a variable in a .go file that starts with k (i.e kNumberr)
2. run "sonar-scanner"
3. run "gometalinter.v1 --checkstyle > report.xml"
4. run "cat report.xml"

### Content of your sonar-project.properties

sonar.projectKey=mygotest
so

[2017-08-01 18:04] blxdaniel commented on #17
Report.xml:

<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="5.0"><file name="hello.go"><error column="9" line="24" message="don&#39;t use leading k in Go names; var kNUMBERR should be nUMBERR" severity="warning" source="golint"></error></file></checkstyle>

Hello.go:
package main

import (
	"fmt"
)

func main(){
    var kNUMBERR = 1
    fmt.Println(kNUMBERR)
}

[2017-08-01 18:39] thibaultfalque commented on #17
Hi,

you run "sonar-scanner" before generate report by gometalinter, it's wrong.

The correct command is:
`gometalinter.v1 --checkstyle > report.xml`
`... (launch other tools: for coverage and test, but this step is optional)`
and after
`sonar-scanner`

[2017-08-01 18:41] blxdaniel commented on #17
Hello,

I have followed those steps and this is the result I get from the UI:
<img width="1210" alt="screen shot 2017-08-01 at 11 40 55 am" src="https://user-images.githubusercontent.com/8649216/28841232-694dc480-76ae-11e7-997d-e6beb603930c.png">

[2017-08-01 18:59] thibaultfalque commented on #17
ok I a IOException for the report file.

`ERROR: IOException
java.io.FileNotFoundException: /Users/daniel/go/src/github.build.ge.com/report.xml /default (No such file or directory)`

Do you have the report in the same path of sonar-project.properties?

[2017-08-01 19:01] blxdaniel commented on #17
Yes, the report.xml is in the same dir as the sonar-project.properties file

[2017-08-01 19:04] blxdaniel commented on #17
I was able to get it to work! Thank you! The problem was the "//default" in the sonar-project.properties. I believe it read the //default at as path. Once i deleted the comment, it appeared!

[2017-08-01 19:04] #17 closed

[2017-08-02 20:06] sogajeffrey commented on #14
Having the same issue. Generating coverage.xml correctly and I do see the xml getting parsed in the command line but its not displaying in the sonarqube UI. @thibaultfalque

[2017-08-03 09:28] skalaiyarasan commented on #8
Yes..we can close this issue.. Thank you so mush @thibaultfalque and @danielleberre

[2017-08-03 09:28] #8 closed

[2017-08-03 09:34] thibaultfalque commented on #14
hi @sogajeffrey
Do you publish your logs with -X args when you run sonar-scanner ? Do you use Docker ?

The logs will be long so you can publish them with https://gist.github.com/.

Thanks.

[2017-08-03 19:48] introllo commented on #8
Hi all. Wanted to add a comment that I've tested the 1.2.9-gamma build and it fixes this issue for me.  In my case, I have a test.xml file with 24 total tests across 5 test suites. In 1.2.8, only the tests from the first suite are shown (n=5 tests). When running w/1.2.9-gamma, I see all 24 reported. Looking forward to "official" release. Thx.

[2017-08-03 19:51] sogajeffrey commented on #14
No we dont use -X. Yes we build in docker.

https://gist.github.com/sogajeffrey/fac8a714b4c2cf8b73bfa36240690654

[2017-08-03 21:27] thibaultfalque commented on #14
Hi @sogajeffrey
I can see in the logs this lines:
[code]

So the coverage report is found but there is a problem with the file "cf.go". C
an you verify if this file exist ?

[2017-08-03 22:02] sogajeffrey commented on #14
Yes the file exists.

On Thu, Aug 3, 2017, 2:27 PM thibaultfalque <notifications@github.com>
wrote:

[2017-08-03 22:02] sogajeffrey commented on #14
This is the same for all my golang repos

On Thu, Aug 3, 2017, 3:02 PM Jeffrey Su <sogajeffrey@gmail.com> wrote:

[2017-08-08 14:12] thibaultfalque commented on #14
hi,
Can I have the content of coverage file ?
/jenkins/workspace/Microservices_cf_feat-sonar-QZIR2FOAYBKOYLVBD2TADBEFYILYJ6ASH54XXAXXCOV5Q36NG5CA/coverage.xml

[2017-08-08 15:30] sogajeffrey commented on #14
https://gist.github.com/sogajeffrey/43fec8c6605efbf51f84ea1d2bd10162 @thibaultfalque

[2017-08-08 15:46] thibaultfalque commented on #14
Can you rerun with the new version 1.2.10-beta ?
https://github.com/uartois/sonar-golang/releases/tag/v1.2.10-beta

[2017-08-08 16:37] sogajeffrey commented on #14
@thibaultfalque

https://gist.github.com/sogajeffrey/cdb6d25c4ee889b9d9c4794c378a6c22

[2017-08-08 16:42] thibaultfalque commented on #14
OK I understand why the file is not found but it's very strange.
In your coverage file the path is:
`/Users/jeffreysu/workspace/go/src/github.build.ge.com/predix-devops/cf/cf.go`

But when I get the path when parse the file I obtain:
`/go/src/github.build.ge.com/predix-devops/cf/cf.go`

@danielleberre any idea why this [line](https://github.com/uartois/sonar-golang/blob/maintenance/src/main/java/f

[2017-08-08 17:01] sogajeffrey commented on #14
@thibaultfalque I generated the coverage.xml on my local and posted it but the file that is parsed in the latest gist is from jenkins so the path is different

[2017-08-08 17:04] thibaultfalque commented on #14
So jenkins use the local coverage ?

[2017-08-08 17:11] sogajeffrey commented on #14
@thibaultfalque I generate the coverage at build time. I dont check the coverage report into the codebase.

[2017-08-08 19:11] thibaultfalque commented on #14
Please test 1.2.10-gamma

[2017-08-08 22:31] sogajeffrey commented on #14
@thibaultfalque https://gist.github.com/sogajeffrey/144e002a2c8af5322dc6169fa4bdbf3d No dice... still not working

[2017-08-09 16:21] sogajeffrey commented on #14
@thibaultfalque this is my report.xml https://gist.github.com/sogajeffrey/d37567ec3ff08694b36774aa394a9f1c

[2017-08-11 21:19] thibaultfalque opened #19 "Implementation of grammar go"
### Description
Implementation of the grammar go as in [the specifications of the language](https://golang.org/ref/spec) using the [Sonarqube SSLR Api](https://docs.sonarqube.org/display/DEV/SSLR)

[Package language](https://github.com/uartois/sonar-golang/tree/master/src/main/java/fr/univartois/sonargo/core/language)

[2017-08-11 22:28] thibaultfalque opened #20 "Change highlighting for use grammar"
### Description

Change the highlighting for use the grammar. This modification prevent the overlaps in coloration of code.

[2017-08-11 22:29] thibaultfalque opened #21 "Add duplication of code"
### Description

Use the implementation of grammar for detect the duplication of code.

[2017-08-15 14:00] dirathea commented on #15
hi @thibaultfalque I think I've got this error too.
here's my logs, using 1.2.8
[code]

Could you help me?

[2017-08-16 14:17] kalagp opened #22 "Does SonarQube 5.6 compatible with latest artifact ?"
I just wanted to know if the current version of plugin is compatible with SonarQube 5.6? . Sonar service isn't starting after placing the Jar file .

[2017-08-18 08:51] thibaultfalque commented on #22
Hi, The plugin is compatible with Sonarqube 6+.

[2017-08-18 08:58] thibaultfalque commented on #15
Hi,
Yes the highlighting of the plugin is very simple. So I developed a new version for use the grammar of Go (see issue #20 ). I will search a temporary solution for resolve your problem.

[2017-08-18 12:35] thibaultfalque commented on #15
Hi, Please test this version
https://github.com/uartois/sonar-golang/tree/v1.2.10-rc1

[2017-08-18 12:41] dirathea commented on #15
How could I try it? Pull the source and build by my self? Is that right? Sorry for dumb questions 🙇

[2017-08-18 12:43] thibaultfalque commented on #15
Sorry it's not the good link. Download the last release: https://github.com/uartois/sonar-golang/releases.

[2017-08-18 13:01] kalagp commented on #22
How about the 5.6.6 LTS version ? And, do we have some documentation regarding this ??

[2017-08-18 13:11] thibaultfalque commented on #22
Hi,
The plugin is only compatible with Sonarqube 6 and + because I use the framework of 6+. There are differences between 5.6 and 6.
So for use the plugin the minimum required version is 6.0. You can upgrade your sonarqube instance or wait the next LTS version.

[2017-08-18 13:54] dirathea commented on #15
Just tried the latest release, seems there's no issue 🎉
But the highlight features is disabled by default, is that right?
I tried to  set the highlighter via `sonar.highlighting=true` but the highlight still disabled.

[code]
Could you elaborate on this?

[2017-08-18 13:57] thibaultfalque commented on #15
Ok I see. I will correct the problem.

[2017-08-18 14:01] thibaultfalque commented on #15
Please retry with the release rc2.
Now sonar.highlighting=false disabled highlighting. And the default value is true so the highlighting is activate by default.

[2017-08-18 14:13] dirathea commented on #15
Just tried the rc2. The overlapping issue happens again 😭
[code]

[2017-08-18 14:14] thibaultfalque commented on #15
sonar.highlighting is true or false ?

[2017-08-18 14:19] thibaultfalque commented on #15
If you have sonar.highlighting at true the highlighting works (it's the default value so you are not obliged to specify the option in sonar-project.properties), you must set the  sonar.highlighting to false.

[2017-08-18 14:21] dirathea commented on #15
I've just tried again, with `sonar.highlighting=true`, and the problem still exist.
[code]
I think I'll disabled this for while if the issue still persist 🙇

[2017-08-18 14:31] thibaultfalque commented on #15
Yes it's the idea. The code for highlighting in the plugin is very basic and doesn't work with all possibilities so I will develop a new version (2.0 issue #20) for use the grammar of go for find and   highlighting the keyword etc...

[2017-08-21 13:05] #22 closed

[2017-08-23 13:34] Sakerdotes opened #23 "Coverage information not correct displayed in sonarqube"
### Description

The displayed coverage information is not the same as localy generated via go test, intellij go coverage or goconvey. All of these methods display 100% but sonarqube often doesn't reaches that percent value.

The problematic test file are internal tests:
 - example filename => example_internal_test.go
 - example package name => not example_test , its just example i have access to

[2017-08-24 09:05] Sakerdotes commented on #23
Problem found.

The docker container, which created the coverage.xml, was running as user root.  Some of the tests needed to fail with permission exeptions but didn't due to the root rights.

So I changed the user in the docker container to a new user with the same uid as the gitlab-runner.

[2017-08-24 09:05] #23 closed

[2017-09-01 09:16] mariusstaicu opened #26 "java.lang.UnsupportedOperationException in junit test reporting"
Problem with junit test reporting

I have the following error when runnig sonar-runner
[code]
### Steps to Reproduce

I have a test.xml like this:
[code]

### Content of your sonar-project.properties

no sonar-project.properties, passing url, login, project, version, sources, branch as cmd line arguments to sonnar-scanner

### Log of sonar-scanner related to the plugin

ERROR: Error during SonarQu

[2017-09-01 10:56] mariusstaicu commented on #26
The problem occurs when having the same test name inside different packages.
The JUnit parser uses a map of function to fileName, which, obviously, in case of same function name X in two different packages will end up with having only one entry in the map. Then, when parsing into GoTestFiles, we end up having two identical GoTestCase objects in two different GoTestFile objects which causes the pro

[2017-09-04 17:39] thibaultfalque commented on #26
Hi,
I apologize for the late reply.
I will correct, thanks for your feedback.

[2017-09-07 12:46] mariusstaicu commented on #26
Nice, thanks!

[2017-09-10 22:21] thibaultfalque commented on #26
Hi, Please test this [release](https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc1).

[2017-09-11 17:50] Cosby86 opened #28 "Custom source code check"
Hello all any idea on how to perform custom checks on the code? For example I would check for fmt.Println in the code or looking for any variable with first capital letter in a private method.

Thank you

[2017-09-11 21:14] thibaultfalque commented on #28
Hi,
Thanks you for your question.
The plugin use gometalinter for generate report. If you want  just add new rules from this tools you can add rules in different properties file (look this PR #13). If you want add rules not from gometalinter the only solution is to modify gometalinter for create new rules.

@danielleberre Have you any others suggestions ?

[2017-09-12 07:03] Cosby86 opened #29 "Errors importing xml entries"
Hello all,
 when I run SonarScanner I got many of those WARNINGS:

WARN: The key for the message should omit type []byte from declaration of var readBuffer; it will be inferred from the right-hand side is null, issue not saved

What are they? Thank you

[2017-09-12 16:31] thibaultfalque commented on #29
Hi,
This warning is because the issue is not known by the plugin, I can add this rules if you send me the warning.
More information #12 #13.

Thanks.
Thibault.

[2017-09-13 09:07] Cosby86 opened #30 "Skipped tests not shown"
Hello all,
 i enabled the rule "Skipped unit tests should be either removed or fixed". In my code there are few skipped tests but  I don't have any evidences in sonar. How can I found them?

Another question: Do you have any known bug in duplicated code. It seems not working too

[2017-09-13 09:39] thibaultfalque commented on #30
Hi, please follow the [instruction](https://github.com/uartois/sonar-golang/blob/master/ISSUE_TEMPLATE.md) for create an issue and add more informations about your problem: Sonarqube Version, Plugin version, plugin configuration etc...
This rules is in the gometalinter report ? Please post the report.

[2017-09-13 09:40] thibaultfalque commented on #30
Duplicated code is not work for the moment.

[2017-09-19 15:35] Cosby86 opened #31 "How can I disable the shell output result"
Hello all,
 when I run sonar-go I got a lot of INFO and WARN messages on the shell. I would like to add them (or redirect them on file at least). Is there any way for this?

Thanks

[2017-09-19 15:37] Cosby86 commented on #30
It sounds good. thx

[2017-09-19 15:37] #30 closed

[2017-09-19 15:37] #28 closed

[2017-09-19 15:38] #29 closed

[2017-09-19 20:33] thibaultfalque commented on #31
Hi,
Warn messages are probably due to unmanaged rules. Please save your logs and send the file in this thread, so I could add rules.

[2017-09-19 20:35] thibaultfalque commented on #31
sonar-scanner >> output.logs redirect the output

[2017-09-20 05:21] thibaultfalque commented on #26
is the problem resolved ?

[2017-09-20 06:58] Cosby86 commented on #31
[output.zip](https://github.com/uartois/sonar-golang/files/1316831/output.zip)

I already tried with bash command >> but I forgot the 2>&1 at the end of the bash row.
BTW attached the output log. As you ken see I have thousand WARN an ERROR rows. Can you let me know if I'm doing something wrong?

Thx

[2017-09-20 07:27] thibaultfalque commented on #31
Hi,
I understood the problem. I will correct.
Can you send the gometalinter report ?

Thanks.

[2017-09-20 07:30] Cosby86 commented on #31
[report.zip](https://github.com/uartois/sonar-golang/files/1316905/report.zip)

Thank you. Attached the report. Let me know if I can help you. What did you find?

[2017-09-20 07:59] Cosby86 commented on #31
Got it. Thank you, let me know when you fixed it.

[2017-09-20 11:34] thibaultfalque commented on #31
Please test: https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc2

[2017-09-20 13:02] Cosby86 commented on #31
[output.zip](https://github.com/uartois/sonar-golang/files/1317801/output.zip)
I had the attached issue when I tried to run sonar scanner using the RC2 jar file (I restarted sonar quebe when I copied the new plugin)

[2017-09-21 06:46] Cosby86 commented on #31
@thibaultfalque do you have any update?

[2017-09-21 09:27] mariusstaicu commented on #26
Hi, sorry for the delayed response. Currently I have another error with this new version of the plugin, trying to figure out why this happens:

java.lang.NullPointerException
	at java.io.File.<init>(File.java:277)
	at org.sonar.api.batch.fs.internal.AbsolutePathPredicate.get(AbsolutePathPredicate.java:52)
	at org.sonar.api.batch.fs.internal.DefaultFileSystem.inputFiles(DefaultFileSystem.java:160)

[2017-09-21 13:09] mariusstaicu commented on #26
Yep, it seems to be working, I can close.
Thanks, great job!

[2017-09-21 13:09] #26 closed

[2017-09-22 09:29] thibaultfalque commented on #31
@Cosby86 I'm sorry but I haven't any problems and I don't understand the reason. I will search a solution.

[2017-09-22 09:30] thibaultfalque commented on #31
Do you delete the old version of the plugin in plugin directory ?

[2017-09-22 09:32] Cosby86 commented on #31
Yes I did

[2017-09-22 09:46] thibaultfalque commented on #31
It's strange. What is your version of SonarQube ?

[2017-09-22 09:57] Cosby86 commented on #31
I restarted the server and now it seems working fine := .
Attached the new sonar log. It seems working better. your thoughts?

[2017-09-26 10:21] Cosby86 opened #32 "Shadowed variables support"
hello all,
 May I ask you to include the support of shadowed variables errors?

GoMetaLinter found this error:

`<error column="0" line="165" message="declaration of "configuration" shadows declaration at line.go:142" severity="warning" source="vetshadow"/>`

IMHO, this is a very critical issue in the code.

[2017-09-26 10:24] genez commented on #32
I'm interested in this rule aswell

[2017-09-27 05:03] thibaultfalque commented on #32
Hi,

I will add this rules.

[2017-09-27 05:05] thibaultfalque commented on #31
Yes it's working better but it's not perfect I will add other rules in the next release.

[2017-09-27 06:40] Cosby86 commented on #31
Awesone. Many thanks

[2017-09-27 06:40] Cosby86 commented on #32
Thank you very much. Are you planning to add it into the next release?

[2017-09-27 10:31] zsounder opened #33 "Highlighting problem on save"
SonarQube  Version 6.5 (build 27846) and sonar-golang Version 1.2.11-rc2.

[code]

[2017-09-27 16:50] thibaultfalque commented on #33
Hi,
Thanks for your feedback. You have an exception but the running finish and you have the informations of analyse in dashboard, no ?

This problem is same of #15. The solution is to create all grammar of Golang for the plugin, this is a feature for the next release 2.0 (see #20).

[2017-09-27 17:21] thibaultfalque commented on #32
Please test: https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc3

[2017-09-27 18:48] danielleberre commented on #31
If the regexp issue is fixed, it might be better to close this issue.

Support for more rules is an ongoing issue.

[2017-09-28 06:35] Cosby86 commented on #31
Ok I'll close it. Thank you for your support

[2017-09-28 06:35] #31 closed

[2017-09-28 06:38] Cosby86 commented on #32
I'll do it very soon. Thank you

[2017-09-28 07:26] Cosby86 commented on #32
Hi thibaultfalque,
I tested the RC3 but it seems doesn't work. In the report I have vetshadow entries but in the Sonar are not reported. Attached the gometalinter report.

[report.zip](https://github.com/uartois/sonar-golang/files/1339838/report.zip)

[2017-09-28 15:21] thibaultfalque commented on #32
Can I have the log please ?

[2017-09-28 15:25] Cosby86 commented on #32
attached. thx
[sonar-output.zip](https://github.com/uartois/sonar-golang/files/1341416/sonar-output.zip)

[2017-09-28 19:49] kenjones-cisco opened #34 "Question: Single vs Multiple coverage.xml files"
### Description

In the README I noticed the following section:

[code]

Currently I'm able to generate a single coverage.xml file for an entire project with multiple packages within the same project. And cobertura within Jenkins is able to read and process the file and show all of the packages.

Example single coverage.xml:
[code]

1. Is there a technical limitation within SonarQube that requires

[2017-09-28 19:58] thibaultfalque commented on #32
please test https://github.com/uartois/sonar-golang/tree/v1.2.11-rc4. The problem was the regex.

[2017-09-28 21:26] thibaultfalque commented on #34
Hi,

Thanks for your questions.

1. The plugin use the report generated by `gocov-xml`. We used `gocov` to convert a coverage profile generate by go test.
But we can't launch `go test` for all packages in one time (if you have a any idea or solution for do that,...). So we need to launch `go test` and generate the coverage profile and send this profile to `gocov` for convert and the conversion to

[2017-09-28 22:03] kenjones-cisco commented on #34
Generating single coverage.xml

[code]

That is how I have it scripted to generate the `test.xml` and `coverage.xml` that I have been using.

My alternate approach would be just to write the coverage.xml files into the cover/ directory as I don't like the idea of writing any files to my actual package directories.

[2017-09-29 01:40] kenjones-cisco opened #35 "Capture coverage failing"
### Description

When attempting to publish `coverage.xml`, `report.xml`, and `test.xml` to SonarQube after generating the individual xml files, I'm seeing the following happen.

1. The coverage is not honoring the `sonar.exclusions` entry, as all the files in my `.glide/**` and `vendor/**` are being processed.
2. `unable to create InputFile object: gitscm.cisco.com/ccdev/cicdtest/version/info.go`

[2017-09-29 01:46] kenjones-cisco commented on #35
To be completely clear.
SonarQube is running inside of a container.
All development tasks are executed inside of a container.
The only command running locally is `sonar-scanner`.

Once SonarCube is upgraded to within my CI/CD platform. SonarQube is run on a VM. Jenkins provides the `sonar-scanner` to integrate with SonarQube, but all the `go` related tasks will happen in the exact same container t

[2017-09-29 01:51] kenjones-cisco commented on #35
Just in case it is helpful or relevant, the development container is defined as follows:

[code]

[2017-09-29 05:34] danielleberre commented on #35
1. happens because we manually look for XML cover files in the project subdirectory in the plugin.

@thibaultfalque we need to retrieve the `sonar.exclusions` property and prevent our search to enter those directories.

[2017-09-29 05:41] danielleberre commented on #34
@thibaultfalque I guess that making sure to search first a single cover file in the root directory else look for multiple cover files in subdirectories could do the trick.

@kenjones-cisco thanks for the script. Would you agree that we display it in the README page of the script?

[2017-09-29 07:19] Cosby86 commented on #32
It works good. Many thanks

[2017-09-29 07:19] #32 closed

[2017-09-29 08:42] kenjones-cisco commented on #34
Sure, no problem.

[2017-09-29 09:05] kenjones-cisco commented on #34
FYI, to make it not specific to glide, you should can use this:

[code]

[2017-10-05 15:03] Cosby86 opened #37 "Unreachable code error not shown"
Hello,
 I've the following gometalinter entry in my gometalinter's report:

<error column="0" line="93" message="unreachable code" severity="error" source="vet"></error><error column="0" line="96" message="unreachable code" severity="error" source="vet"></error>

but this isn't shown in sonar.
Can you kindly add this rule?

[2017-10-05 15:14] Blackmage89 commented on #37
Yes it would be really helpful to see these kinds of errors.

[2017-10-06 06:23] thibaultfalque commented on #37
Hi,
I will add.
Thanks for your feedback.

[2017-10-06 06:40] Cosby86 commented on #37
`<error column="0" line="186" message="possible misuse of unsafe.Pointer" severity="error" source="vet"/>`

[2017-10-06 09:10] thibaultfalque commented on #37
Can you test this [solution](https://github.com/uartois/sonar-golang#enabling-all-latest-rules) for resolve the problem with the rules _unreachable_ _code_?

[2017-10-06 09:27] Cosby86 commented on #37
I just tested it. It worked fine. I have the "unreachable code" in the sonar report. Thank you. Let me know if I can support you for adding other errors.

Kind regards

[2017-10-09 08:37] jiaoyan2017 opened #38 "Wrong comment form in sonar-project.properties probably mislead copier."
### Description

Comments in sonar-project.properties start with the character sequence **//** instead of **#**. If a user only copy the sonar-project.properties as it is in this project, this plugin won't work.

[2017-10-10 07:21] thibaultfalque commented on #38
Hi,
Thanks for your notice. I have fix the problem.

[2017-10-10 15:38] danielleberre opened #39 "Changing from LGPL 3.0 to Apache 2.0"
One user of the plugin would like to contribute to the plugin but cannot due to the current license
of the project conflicting with his employer IP policy.

We initially used LGPL for the plugin because it is the license used by the majority of the sonar plugins.

We welcome contributions from the community and as such are willing to change the current license to Apache 2.0.

Changing the license

[2017-10-10 17:19] dthagard commented on #39
I'm fine with the change.

[2017-10-11 02:26] bobintornado commented on #39
Sure, I agree

[2017-10-12 09:54] thibaultfalque commented on #38
Can you close the issue ?

[2017-10-13 06:17] #38 closed

[2017-10-14 08:58] thibaultfalque commented on #39
I agree.

[2017-10-14 11:54] danielleberre commented on #33
Duplicate of #15

[2017-10-14 11:54] #33 closed

[2017-10-14 11:55] danielleberre commented on #37
@Cosby86 could you close the issue now that the problem is fixed?

[2017-10-16 06:44] Cosby86 commented on #37
Hi danielle I'm waiting for the other errors support:

`<error column="0" line="186" message="possible misuse of unsafe.Pointer" severity="error" source="vet"/>`

`<error column="0" line="12" message="this return statement may be reached without using the backgroundcancel var defined on line 11" severity="error" source="vet"/>`

`<error column="0" line="11" message="the backgroundcancel function i

[2017-10-18 15:47] jhansiabburu commented on #7
I have posted a question on below link, can anyone please help me out resolving the same
https://stackoverflow.com/questions/46587822/not-able-to-import-ios-unit-test-result-to-sonar-qube

[2017-10-18 15:58] jhansiabburu commented on #8
i have posted a question on below link, please help if anyone has any solution

https://stackoverflow.com/questions/46587822/not-able-to-import-ios-unit-test-result-to-sonar-qube

[2017-10-19 09:11] kedare opened #40 "UnhandledErrors False Positives + Typo ?"
### Description

False positive on UnhandledErrors, also it looks like there is a typo in the title of the error.

### Steps to Reproduce

Create a code snippet that gets the returned error from a method
Run analysis
Check the errors on the web panel ( See screenshot )

<img width="907" alt="screen shot 2017-10-19 at 11 10 01" src="https://user-images.githubusercontent.com/359877/31763307-2eb0eaf2

[2017-10-19 09:22] kedare commented on #40
Nothing, my fault, I forgot to rerun the gometalinter before sonar-scanner (I forgot there was this manual step), so even if the code was update in SonarQube it was still reading the previous report.xml

Would not it be better to have it run automatically by sonar-scanner ?

[2017-10-19 10:17] thibaultfalque commented on #40
Hi,
Yes in theory it's possible. Please close this issue and create a new issue with this proposition of feature.
Thanks.

[2017-10-19 10:19] #40 closed

[2017-11-23 18:06] pms1969 opened #42 "Absolute paths break the scanner."
### Description

I have a project that I'm trying to analyse.  When I run gometalinter I get the following report.xml file
[report.zip](https://github.com/uartois/sonar-golang/files/1499899/report.zip)

I'm running the scanner inside a custom build docker container based on golang:1.9-alpine.  I run gometalinter and the other commands, then run sonar-scanner.  This results in the error outlined la

[2017-11-24 15:04] thibaultfalque commented on #42
Hi,
Please test the new release [rc5](https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc5).

[2017-11-27 22:33] mrbacus opened #43 "Question: "java.lang.IllegalArgumentException: expected one element but was...""
### Description
Hello,

I just installed sonarqube (docker) and have not analyzed any projects.
I am able to pull up sonarqube at localhost in my browser.
I can run gometalinter to generate report.xml.
I am not able to successfully run sonar-scanner (see logs below).
I am hoping somebody might be able to point me at some missing configuration/settings I need to make.

Regards,
James
### Steps to R

[2017-11-28 16:35] juliencampion commented on #43
I've been having the same issue as well.

[2017-11-28 22:37] thibaultfalque commented on #43
Hi,
What is your version of plugin?

[2017-11-29 08:04] thibaultfalque commented on #43
What is the --fast option ?

[2017-11-29 08:17] thibaultfalque commented on #42
@pms1969 can you close the issue if it's ok ?

[2017-11-29 11:36] juliencampion commented on #43
I was on the latest RC version (v1.2.11-rc5).
Reverting to v1.2.10 fixed the problem for me.

[2017-11-29 17:03] danielleberre commented on #39
@Tvli @mariusstaicu it would be nice if we could have your input on that subject.

[2017-11-29 20:00] mrbacus commented on #43
**I was using plugin 1.2.11-rc5 and switched to v1.2.10 - that resolved my issue.**  Thanks @juliencampion

@thibaultfalque , I am using --fast to only run "fast linters".  Using that gets rid of the errors below which flood my screen.
...
WARNING: deadline exceeded by linter vet on source/go/src/golang.org/x/net/dict (try increasing --deadline)
WARNING: deadline exceeded by linter vet on source/g

[2017-11-30 10:18] thibaultfalque commented on #42
@pms1969 can you test the rc6 version.

[2017-11-30 10:20] thibaultfalque commented on #43
@mrbacus  and @juliencampion can you test the rc6 version ?

[2017-11-30 13:23] juliencampion commented on #43
Using rc6 triggers a NullPointerException.
Here is the output log of `sonar-scanner -X`:

<details>
<summary>Click to expand</summary>

[code]
</details>

[2017-11-30 21:51] thibaultfalque commented on #43
I have fix the NullPointerException.

[2017-12-01 14:51] alixwar opened #44 "Question: Why is this plugin not available through the official SonarQube update center?"
There are multiple community supported plugins already, is there a reason why this plugin cannot be installed through SonarQube itself?

[2017-12-01 15:34] danielleberre commented on #44
We did not approach yet SonarQube to be listed there. Do you know the requirements to be supported by the update center?

[2017-12-01 17:16] danielleberre commented on #44
Found this on SonarQube website:
https://docs.sonarqube.org/display/DEV/Deploying+to+the+Marketplace

It looks like announcing the releases on google group is the way to announce new versions of a plugin.

[2017-12-01 17:29] mrbacus commented on #43
@thibaultfalque , rc7 is working for me.  Thanks for the great support.

[2017-12-02 14:14] danielleberre commented on #12
@thibaultfalque @dthagard should that issue remain open? Trying to clean up a bit the issues :)

[2017-12-02 14:15] danielleberre commented on #14
@thibaultfalque Are we still unable to fix this?

[2017-12-02 15:21] sogajeffrey commented on #14
It's fixed now for me

On Sat, Dec 2, 2017, 6:15 AM Daniel Le Berre <notifications@github.com>
wrote:

[2017-12-02 16:24] thibaultfalque commented on #43
You're welcome @mrbacus ! Can you close the issue ?

[2017-12-02 16:28] juliencampion commented on #43
I'm sorry, rc7 still causes problems for me. I will get back to this issue when I find out whether the output log contains sensitive information. ^^

[2017-12-02 17:04] juliencampion commented on #43
Here is the full, unedited output of the command `sonar-scanner -X` on the rc7 version.
The command ends with an UnsupportedOperationException.
Also, it seems that the plugin tries to interpret each line of the test files as function names, as evidenced by the warning lines.

<details>
<summary>Click to expand</summary>

[code]
</details>

[2017-12-03 23:27] alixwar commented on #44
👍

[2017-12-05 22:05] thibaultfalque commented on #43
Ok it's because this file "/home/jcampion/work/go/src/gitlab.com/HumanRevolt/hrserver/db/db_test.go" is added twice. But I don't understand why... I will try to find a solution as soon as possible.

[2017-12-06 16:47] alixwar commented on #44
Is this the same plugin?

https://groups.google.com/forum/m/#!topic/sonarqube/y4RY0V9K8FI

[2017-12-06 16:49] alixwar commented on #44
I verified. It is... ☺

[2017-12-06 16:52] alixwar commented on #44
Since compatibility starts at version 6.0 it may be available in the update center (I'm still at 5.6.x). Can someone confirm this? If so I close this ticket.

[2017-12-06 18:06] danielleberre commented on #44
I just downloaded version 6.7 LTS. Sonar-golang is not available in the marketplace.

[2017-12-13 08:26] thibaultfalque commented on #43
@mrbacus I close this issue because the problem of @juliencampion is very different.

@juliencampion can you open an issue with your problem?

Thanks.

[2017-12-13 08:26] #43 closed

[2017-12-13 11:53] pms1969 commented on #42
Sorry, I'm away until the new year.  Will test then.

[2017-12-14 10:05] pcaneill opened #45 "Latest v1.2.11-rc7 does not show coverage"
### Description

I no longer have coverage information with the latest pre release v1.2.11-rc7
It works with latest release

### Steps to Reproduce

I test sonarqube on this repository https://github.com/junegunn/fzf

### Content of your sonar-project.properties

sonar.projectKey=gotest
sonar.projectName=name of project
sonar.projectVersion=1.0
sonar.golint.reportPath=report.xml
sonar.coverage.rep

[2017-12-15 11:18] alixwar commented on #44
I've asked now in the Google Group why the plugin is not available.

[2017-12-15 13:19] alixwar commented on #44
@danielleberre  SonarSource say that there has been no request to make it part of the official distribution. I strongly suggest that you do so, otherwise it's just a matter of time before we have a forked duplicate project that is official

[2017-12-15 14:12] satlive commented on #44
@alixwar I just asked.

[2017-12-15 14:29] danielleberre commented on #44
@alixwar I just asked.

[2017-12-18 13:59] thibaultfalque commented on #45
Hi
Thanks you for your feedback. It a known problem for example this issue #14. I try to resolve the problem.

[2017-12-18 14:10] thibaultfalque commented on #44
@alixwar we will create a new thread in google group to ask. But before we will try to create a stable 1.2.11 version.

[2017-12-19 10:40] juliencampion opened #46 "Same file scanned twice"
This issue was discovered in #43.
Version is 1.2.11-rc7.

Here is the output log of `sonar-scanner -X`:

<details>
<summary>Click to expand</summary>

[code]
</details>

[2017-12-20 21:51] thibaultfalque commented on #46
Thank you for submitting this issue, I will try to fix this ASAP.

[2017-12-20 22:06] danielleberre commented on #46
I do not think that the same file is scanned twice.

I would rather consider that in some cases, the statistics per file are added to sonar twice.

It would be nice to have your junit report file to check what's going on.

[2017-12-21 08:32] xiezhenye commented on #45
Is ths the same problem?

I install the plugin v1.2.11-rc7, but only Golint profile found in SonarQube, no coverage function available.

[2017-12-21 08:40] danielleberre commented on #45
Hum, it is strange that the RC breaks that functionality. It must be different from #14.

[2017-12-21 08:46] danielleberre commented on #45
@pcaneill from your logs, it looks like your coverage.xml file lies in shell/coverage.xml, not in src/cover.
Could you check?

[2017-12-21 09:01] xiezhenye opened #49 "Got java.io.FileNotFoundException for report.xml, but the path exists."
### Description

Got java.io.FileNotFoundException, but the path of report.xml exists.

### Steps to Reproduce

1. Run sonar-scanner

### Content of your sonar-project.properties

[code]

### Log of sonar-scanner related to the plugin

[code]

### Versions

Versions of your sonar installation (server, sonar-scanner), gometalinter, go and OS.
sonar-golang v1.2.11-rc7
SonarQube Scanner 3.0.3.778
Jav

[2017-12-21 09:31] xiezhenye commented on #49
It seems properties file can not contains comments, after remove comments, this Exception not occurs. But I got another Exception:

[code]

[2017-12-21 14:37] juliencampion commented on #46
Here are the contents of the file `test.xml`.

<details>
<summary>Click to expand</summary>

[code]
</details>

[2017-12-23 15:49] danielleberre commented on #49
@xiezhenye the first issue you noticed was related to the comments we added in the properties file
to explain the values of the properties.

We updated the README to make comments compatible with Java properties file.

The second issue is different. I renamed the current issue with that problem.

[2017-12-24 22:05] thibaultfalque commented on #49
The plugin can not recognize the name of your test function.

This is an example of test function that can be recognized.
[code]
Can you upload or show a part of a test file ?

[2017-12-26 11:13] danielleberre commented on #49
@thibaultfalque we should make sure the code does not break if the function is not recognized.

The code need to check for potential -1 index and live with that.

[2017-12-26 11:14] danielleberre commented on #34
@thibaultfalque are we done here?

[2017-12-26 11:16] danielleberre commented on #35
We just added the code to prevent files in the exclusion path to be analyzed. The next RC will allow to check that it fixes your problem.

[2017-12-27 15:08] Kernle32DLL commented on #45
Today I realized that we have the same issue. Noteworthy elements in the log include:

https://gist.github.com/pcaneill/378e3e15f67a4f103b68748742fbb096#file-gistfile1-txt-L555

https://gist.github.com/pcaneill/378e3e15f67a4f103b68748742fbb096#file-gistfile1-txt-L2442

It seems sonar-golang is looking for a go file which is named after the folder the tests sit in (in above case - the folder name i

[2017-12-27 23:18] Kernle32DLL commented on #45
Small addition. I tested the maintenance branch, and the problem seems gone on my side. @pcaneill might be worth to wait for the next RC.

[2017-12-29 17:36] thibaultfalque commented on #34
See the PR by @Kernle32DLL  #50

[2017-12-29 17:37] thibaultfalque commented on #39
@znerd @maclav3 @Kernle32DLL do you agree ?

[2017-12-29 17:39] thibaultfalque commented on #49
I will fix.

[2017-12-29 18:58] znerd commented on #39
I agree.

[2017-12-29 20:35] thibaultfalque commented on #49
Please check [release 1.2.11-RC8](https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc8).

[2017-12-29 20:35] thibaultfalque commented on #35
Please check [release 1.2.11-RC8](https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc8).

[2017-12-29 20:36] thibaultfalque commented on #42
Please check [release 1.2.11-RC8](https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc8).

[2017-12-30 11:28] Kernle32DLL commented on #39
@thibaultfalque I agree

[2017-12-30 11:59] Kernle32DLL commented on #34
For a bit more context what `gocov test ./...` does - it internally does exactly that. Its walks trough the folders, and executes `go test`, and `gocov convert`. The nice thing is, that this method aggregates the results, and creates a single `coverage.xml`, without some shell magic (which is good, since this way it can be used across platforms).

Also also - Golang 1.10 will bring support for  `g

[2017-12-30 13:07] thibaultfalque commented on #34
Thanks @Kernle32DLL for your explanation

[2018-01-04 08:56] maclav3 commented on #39
I'm ok with this, sorry for the delay

[2018-01-04 11:46] BharadwajKk opened #53 "Coverage metrics not being imported, using latest jar v1.2.11-rc8"
### Description

I am using the latest sonar-golang jar v1.2.11-rc8 but still I'm unable to get the Coverage metrics on the Sonar Dashboard.

### Steps to Reproduce

I'm running SonarQube server 6.7.1 locally and I have added the latest sonar-golang jar(sonar-golang-plugin-1.2.11-rc8.jar) to it's plugins. Using latest versions for go, gometalinter.v1, etc. Running SonarQube Scanner 3.0.3.778 to sc

[2018-01-04 12:10] danielleberre commented on #53
@BharadwajKk hum, your file is not even considered by the coverage sensor.

@thibaultfalque I think that the problem lies in the way the exclusion path is handled in CoverageSensor, especially that test: `!p.getParent().toString().contains(".git")` which would prevent AFAI understand any file from a git clone to be considered.

Could you check?

[2018-01-04 17:15] thibaultfalque commented on #53
Normally this line prevent exploring hidden files and git configuration files. I will check.

[2018-01-04 22:27] thibaultfalque commented on #45
@pcaneill I cloned the project https://github.com/junegunn/fzf and tested it but I can't manage to reproduce the problem: I have the coverage in sonarqube dashboard. Could you test it again with the last release ?

[2018-01-05 14:56] danielleberre commented on #39
@Tvli @mariusstaicu It would be nice if we could have your feedback on that issue.

[2018-01-06 21:54] Tvli commented on #39
Hi @danielleberre
Sorry about the long delay, missed this message completely...
I agree with this change.

[2018-01-07 11:41] danielleberre commented on #39
Well, it looks like all code contributors agreed with the change (@mariusstaicu contributed a script on the README page).

So next release 1.3 will be provided under the Apache 2.0 license.

We have to check how to do this properly: released code must stay forever under LGPL 3.0 license, I guess it can be done using an LGPL_3_0 tag on the branches. Need to think about it.

Thanks for your feedback

[2018-01-07 11:41] #39 closed

[2018-01-08 10:31] BharadwajKk commented on #53
Also, I forgot to mention that it does shows the code smells, which means that the report.xml file is being imported. But dont know why the coverage.xml and test.xml files are not.

[2018-01-08 10:41] thibaultfalque commented on #53
Hi @BharadwajKk, I will publish today a new release with a fix for your problem.

[2018-01-09 13:28] thibaultfalque commented on #53
Hi @BharadwajKk  I have publish a new release please test: https://github.com/uartois/sonar-golang/releases/tag/1.2.11-rc-reubentfix

[2018-01-10 10:17] BharadwajKk commented on #53
Hi @thibaultfalque, the new release is working. Coverage metrics is now available on the dashboard.
Thanks a lot for your help. @danielleberre @thibaultfalque :+1:

[2018-01-10 10:33] thibaultfalque commented on #53
You're welcome @BharadwajKk :)
Can you close this issue ?

[2018-01-10 10:35] BharadwajKk commented on #53
Yeah sure.

[2018-01-10 10:35] #53 closed

[2018-01-10 14:20] thibaultfalque commented on #49
@xiezhenye could you close the issue if the problem is resolved ?

[2018-01-10 14:21] thibaultfalque commented on #14
@f-sys could you check with the last release and close the issue if the problem is resolved ?

[2018-01-10 14:22] thibaultfalque commented on #35
@kenjones-cisco could you check with the last release and close the issue if the problem is resolved ?

[2018-01-10 14:22] thibaultfalque commented on #42
@pms1969  could you check with the last release and close the issue if the problem is resolved ?

[2018-01-10 14:22] thibaultfalque commented on #45
@pcaneill  could you check with the last release and close the issue if the problem is resolved ?

[2018-01-10 14:26] thibaultfalque commented on #12
@dthagard could you check with the last release and close the issue if the problem is resolved ?

[2018-01-11 06:20] kenjones-cisco commented on #35
Issues 1 and 2 still exist

Even though I have the following defined:
`sonar.exclusions=vendor/**,.git/**,.glide/**,**/*.xml`
It still keeps scanning the `vendor/`, `.git/`, and the `.glide/` directories.

And when the coverage file is generated the filename inside the coverage.xml shows up as `gitscm.cisco.com/ccdev/cicdtest/version/info.go` since it includes the package. But given the file is ac

[2018-01-11 09:13] lkwg82 opened #54 "Readme: link a demo"
### Description

To better understand the plugin and what it offers it might be helpful to show a demo analysis. Or just link an existing one.

Thx.

[2018-01-11 20:23] danielleberre commented on #35
@thibaultfalque we need to check if sonar.exclusions is properly honored in each sensor.

Regarding the second issue, I have really no idea how to fix it since I am not a regular docker user. Any idea would be welcome.

[2018-01-11 20:38] danielleberre commented on #54
The plugin brings the analyses performed by regular go tools to the SonarQube code quality platform.

The analyses of popular open source projects are available online:
https://sonarcloud.io/explore/projects

There is no go project analyzed there, but it gives you an idea of the kind of information you can get.

[2018-01-11 20:59] lkwg82 commented on #54
Thx for answer. Sonarqube I know, but I dont know the golang plugin and how it feels.

[2018-01-11 21:08] kenjones-cisco commented on #35
@danielleberre I wondering if there is an assumption about what file paths look like for a golang code base.

Most have their source control within github which results in a base import package of `github.com/<username|orgname>/<project_name>`. When cloning a project from github the code is by default in a directory named `<project_name>`.

As such if your code base has multiple packages you will

[2018-01-11 21:54] danielleberre commented on #54
Well, our instance at the uni is private, we have no public reports to show you, but it sort of does not make anything fancy: it just allows to bring tests and code coverage metrics, plus a few linters violations right into SonarQube.

[2018-01-11 22:01] danielleberre commented on #35
You are right, we crawl the top level directory to find the resources.

Maybe we do not do it properly because we have to take into account sonar.exclusion manually. This is our first SonarQube plugin, we looked around how the other plugin proceed, and did not notice any specific way to do that crawling.

Let us sleep on it, we will try to find a way to solve your problem. Docker is getting so pop

[2018-01-11 22:39] introllo commented on #35
Hi @kenjones-cisco. Try putting "." on the "Sources location" in build step (we use TeamCity). On the sonar-scanner side, I put this in my sonar-project.properties:

sonar.sources=.

This works for me (from a Docker container). Updating the plugin to try again via TC runner.

[2018-01-11 22:41] kenjones-cisco commented on #35
That is what I use:

[code]

[2018-01-11 22:44] introllo commented on #35
Hmmm. Pretty much the same as mine:

sonar.projectKey=[SET_ME]
sonar.projectName=[SET_ME]
sonar.projectVersion=[SET_ME]
sonar.golint.reportPath=report.xml
sonar.coverage.reportPath=coverage.xml
sonar.coverage.dtdVerification=false
sonar.test.reportPath=test.xml
sonar.sources=.
sonar.coverage.exclusions=vendor/**
sonar.exclusions=vendor/**,testdata/**

Let me dbl-check my setup.

[2018-01-11 23:01] introllo commented on #35
Apologies @kenjones-cisco . I checked my notes (its been awhile) and see that we use vagrant provisioned VMs for this as we can't run our test code inside of a Docker container. So, in my case, I'm running sonar-scanner in an Ubuntu VM. Thx.

[2018-01-12 08:32] danielleberre commented on #35
Ok, I asked for advices to take into account sonar.exclusion properly:
https://groups.google.com/forum/#!topic/sonarqube/vPrza6ovvSU

[2018-01-14 16:45] Kernle32DLL opened #55 "Test files parsed as code"
### Description

I realized today that the content of go test files is counted against the total project lines-of-code. I checked against SonarJava, as I was not sure if this might be desired behavior - but its not.

The inherit problem is that test files are parsed as regular source code. This also has the side effect that gometalinter issues for test files are also shown in SonarQube.

### Steps

[2018-01-14 17:18] danielleberre commented on #55
Thanks for pointing that out.

It is indeed the case that we do not filter out files ending with "_test.go" for those metrics
(see https://github.com/uartois/sonar-golang/blob/cb6767754e29338baaf816085b587dc5ab22c030/src/main/java/fr/univartois/sonargo/core/metrics/GoMetricSensor.java#L33)

We will fix that asap.

[2018-01-15 22:26] thibaultfalque commented on #35
I have fix the problem of sonar.exclusion in this commit d5c2d0224bbc20267177e43ff9ddf1fa9def1905

[2018-01-15 22:42] thibaultfalque commented on #55
Please test https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc9

[2018-01-15 22:43] thibaultfalque commented on #35
Please test https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc9

[2018-01-16 06:58] Kernle32DLL commented on #55
Fix confirmed - thanks for the quick response! :-)

[2018-01-16 06:58] #55 closed

[2018-01-19 10:32] kernle32dll opened #56 "Untested files are ignored for code coverage"
### Description

I noticed that files which are not tested at all do not decrease the code coverage. E.g. a project with two files, with one being 100% tested and the other not at all, code coverage in total will still be 100%.

### Steps to Reproduce

1. Create a project with two files to test (e.g. `main.go` and `test.go`)
2. Write code and tests for `test.go`
3. Coverage will only depend on `te

[2018-01-20 18:59] danielleberre commented on #56
We provide the per file coverage to SonarQube. The total coverage is then computed automatically by SonarQube.

Since we provide metrics only for the files found in the coverage xml file, the other classes have no coverage information, thus are "ignored" in the coverage computation.

We can add a new property to force to 0% untested files, just like JaCoCo plugin.

@thibaultfalque If we want to im

[2018-01-21 22:55] thibaultfalque commented on #56
I asked for correctly detect source code file and test file.
https://groups.google.com/forum/#!topic/sonarqube/4CkPFEKYRpc

[2018-01-29 15:25] thibaultfalque commented on #56
@Kernle32DLL can you test the new release.

[2018-01-31 10:52] kernle32dll commented on #56
@thibaultfalque works like a charm. Might be worth to include the parameters as stated in https://github.com/uartois/sonar-golang/releases/tag/v1.2.11-rc10 as sensible defaults.

[2018-02-08 03:40] lylex opened #60 "The number of executable lines in not-tested source file is no correctly computed"
### Description

A not-tested source file will over-decrease the code coverage, even if the definitions are all calculated.

### Steps to Reproduce

1. Create a project with two source files(e.g. a.go and b.go)
2. Write test for a.go(i.e. a_test.go)
3. Run the calculation, and you will find the coverage is not expected. Each lines in the b.go are calculated in the total lines.

### Versions

Versi

[2018-02-08 06:21] danielleberre commented on #60
Well, this is the classical behavior: you expect to have 100% coverage when both a.go and b.go are covered by tests.

Or did I miss something?

Would you like to exclude some files from coverage computation?

[2018-02-09 03:33] lylex commented on #60
@danielleberre Sorry for the confusion, let me explain a little bit more with an example.

Assume we have the following folder:
<GOPATH>
└── src
    └── <test_project>
        ├── a.go
        ├── b.go
        ├── coverage.xml
        ├── report.xml
        ├── sonar-project.properties
        ├── sonar-scanner.properties
        └── test.xml

And a.go is,

`package main

import (
	"fmt"
)

func m

[2018-02-09 06:57] danielleberre commented on #60
ok, I see.

When files are tested, we rely on the coverage file to detect "executable lines", so that information is correct.

When files are not tested, we simply report the number of lines, we do not restrict to executable lines.

@thibaultfalque any idea how to count the number of executable lines in untested files?

[2018-02-09 19:00] thibaultfalque commented on #60
63947781319a4a533c734ceefe8bfa1197e9972a

[2018-02-09 19:02] thibaultfalque commented on #60
We improved the calculation of untested lines. We will publish a release soon.

[2018-02-10 22:03] thibaultfalque commented on #56
I searched a solution for add default value but it's not directly possible because properties are sonar properties and not plugin properties, so I can't set a default value. You can change the default value of these properties from the web interface.

[2018-02-10 22:17] thibaultfalque commented on #60
@lylex could you test with the last release ?

[2018-02-11 06:35] lylex opened #61 "Comment lines are computed as executable in not-tested source file"
### Description

When a package has no test file, it will computed the comment lines as executable.

### Steps to Reproduce

1. Create a project with following source file(e.g. b.go)

[code]

2. Run the calculation, and push to sonar server using sonar-scanner

3. Go the sonar server web, and click "All Measures / Coverage Measures". Chose b.go file, and you you will find that some comments are ca

[2018-02-11 06:36] lylex commented on #60
@thibaultfalque I have tried the new release with my project, and I still find something unexpected. I believe that is not the same root cause, so I verify this issue and open #61.

[2018-02-11 06:36] #60 closed, assigned to nobody

[2018-02-11 07:14] danielleberre commented on #61
Ok, we forgot to ignore comments in the fix for #60 .

We can fix this easily by ignoring lines starting with "//" once trimmed.

However, ignoring multi-lines comments will be much harder until we have an analysis of the source file based on a real go grammar.

@thibaultfalque the fix for single line comments is trivial. For multi-lines, it may be possible to reuse the same trick used to ignore i

[2018-02-11 09:11] thibaultfalque commented on #61
Ok I see. I will fix this problem.

[2018-02-11 10:10] thibaultfalque commented on #61
I have fix this issue.

The fix: d3889bf
The units tests:  ee8c96fb4586509b4ce6b901ff8e6153494beb9d
The units test are apply on this file: issue61/simplelinecomment.go issue61/multilinecoment.go issue61/typestruct.go: 669e4e184f120f4451fe9650317b207880c2024a

[2018-02-11 12:38] thibaultfalque commented on #61
@lylex could you test the last release ?

[2018-02-11 12:39] thibaultfalque commented on #49
@xiezhenye could you close the issue if the problem is resolved ?

[2018-02-11 12:40] thibaultfalque commented on #45
@pcaneill  could you close the issue if the problem is resolved ?

[2018-02-11 12:41] thibaultfalque commented on #42
@pms1969 could you check with the last release and close the issue if the problem is resolved ?

[2018-02-11 12:42] thibaultfalque commented on #35
@kenjones-cisco could you test with the last release ?

[2018-02-11 12:42] thibaultfalque commented on #14
@f-sys could you check with the last release and close the issue if the problem is resolved ?

[2018-02-11 12:43] thibaultfalque commented on #12
@dthagard could you check with the last release and close the issue if the problem is resolved ?

[2018-02-12 02:00] lylex commented on #61
@thibaultfalque @danielleberre this release work well with my project, thanks for the quick response.

[2018-02-12 02:00] #61 closed, assigned to nobody

[2018-02-12 09:35] Cosby86 opened #62 "_test.go files are now shown in coverage list"
Hello all
 i just updated my sonar plugin to the latest RC (rc12). Despite I added those 2 lines into config file

sonar.test.inclusions=**/**_test.go
sonar.sources.inclusions=**/**.go

In my coverage file list now are shown _test,go files too

[2018-02-12 10:04] thibaultfalque commented on #62
hi @Cosby86
Could you test with this configuration ?
[code]

[2018-02-12 10:22] Cosby86 commented on #62
Thank you for the answer. Not _test files are not considered but I have in the list packages where _test.go file are not presents. In the previous version of the plugin only the coverage of those packages where _test.go file is present were listed.

[2018-02-12 13:13] thibaultfalque commented on #62
Yes we have changed the coverage computation. See #56, #60 and #61. If there is not have _test.go in package the sources files of package are covered with 0%.

[2018-02-12 13:45] Cosby86 commented on #62
It sound good. Is there any way to exclude a package from coverage mesurement?

[2018-02-12 16:18] visheyra opened #63 "File null error"
### Description

Hello folks and thank you for the work you've done on integrating golang in sonarqube. Its been a few days now I encounter an issue:

here is my stack trace

[code]
### Steps to Reproduce

1. run a pipeline with an empty error from linter (I think but I'm not sure)

### Content of your sonar-project.properties

*It will help us to check how you configured the plugin.*

### Log of

[2018-02-12 16:32] danielleberre commented on #63
Thanks for the good words.

Which version of the plugin are you using?

[2018-02-12 16:35] visheyra commented on #63
I'm using 1.2.10

[2018-02-12 16:41] visheyra commented on #63
BTW here's my sonar properties file

[code]

[2018-02-12 16:42] visheyra commented on #63
BTW here is my sonar properties file

[code]

[2018-02-12 17:00] thibaultfalque commented on #63
@visheyra  Could you test the last release ?

[2018-02-12 17:03] thibaultfalque commented on #62
I will ask sonarqube to know how use the sonar.coverage.exclusions property (https://docs.sonarqube.org/display/SONAR/Analysis+Parameters)

[2018-02-13 22:39] thibaultfalque commented on #62
@danielleberre we can use the method _doesNotMatchPathPatterns_ of _FilePredicates_ for exclude the patterns of property sonar.coverage.exclusions: http://javadocs.sonarsource.org/6.2.1/apidocs/org/sonar/api/batch/fs/FilePredicates.html#doesNotMatchPathPatterns-java.lang.String:A-

[2018-02-16 09:39] thibaultfalque commented on #44
@alixwar
We have created a new thread in google group for feedback. If it's good the last release 1.2.11-rc13 will become the last official release.

https://groups.google.com/forum/#!topic/sonarqube/XKLgz29g3zQ

[2018-02-16 09:56] alixwar commented on #44
@thibaultfalque Awesome. Thanks for your efforts!

[2018-02-16 09:56] #44 closed

[2018-02-16 16:48] denouche commented on #35
Hello,

I also have this issue with the latest release (v1.2.11-rc13).

This is what I have:
[code]

And then no coverage in Sonarqube.

And this is the beginning of the generated `coverage.xml` file:
[code]

[2018-02-16 20:35] thibaultfalque commented on #35
Could you post your coverage report?

[2018-02-16 22:00] denouche commented on #35
Yes of course

[coverage.zip](https://github.com/uartois/sonar-golang/files/1732949/coverage.zip)

Thank you!

[2018-02-16 22:15] thibaultfalque commented on #35
/go/src/github.enterprise.com/enterprise/AuthenticationService-Go/handlers/handler.go exists ? Do you use docker ? What is your hierarchy of files ? What is the path when sonar-scanner is run ?

[2018-02-17 08:47] denouche commented on #35
This is the Dockerfile of the image where I create the sonar reports files:
[code]

Then I use the following commands to get the reports:
`docker run --rm image gometalinter --checkstyle > report.xml`
`docker run --rm image sh -c 'gocov test ./... | gocov-xml' > coverage.xml`

And then I execute directly on the jenkins agent:
`/var/lib/jenkins/tools/hudson.plugins.sonar.SonarRunnerInstallation/son

[2018-02-17 09:08] thibaultfalque commented on #35
I am not a daily user of docker. Your docker container have access on /go/... ?

[2018-02-17 11:04] danielleberre commented on #35
AFAI understand what's going on, the test and coverage reports are run on docker while the sonar-scanner is run directly. As such, the paths in the coverage report do not match the paths in the current filesystem.

If we can rebuild the correct file path knowing the prefix of the path in the docker image, we could probably add a specific option for docker users to fix this issue.

But we need some

[2018-02-17 16:12] denouche commented on #35
Yes that's also what I suspected.

The project path is generated since I'm building a Jenkins Pipeline.
So I thought to replace the path in the coverage.xml path to match the jenkins workspace path, but it's not the cleaner way.

What did you mean by "add a specific option"? Add a parameter when executing `sonar-scanner` ? A parameter giving the base path of the project files in the docker image,

[2018-02-17 16:48] denouche commented on #35
There is an opened pull request on `github.com/AlekSi/gocov-xml` (here [github.com/AlekSi/gocov-xml/pull/4](https://github.com/AlekSi/gocov-xml/pull/4) adding some interesting options.

When using `github.com/Centny/gocov-xml` and using the `-pwd` argument, the generated `coverage.xml` is now:
[code]

instead of:
[code]

So the `filename` is now relative, so maybe I would solve the problem.

I wil

[2018-02-17 16:59] denouche commented on #35
I could not wait until monday, I just tested it and it works, I now have the coverage informations in sonarqube.

But I guess I will have to use the `github.com/Centny/gocov-xml` fork since the PR is opened since 2013...

Thanks for your help!

[2018-02-17 17:31] danielleberre commented on #35
That's a good news!

Maybe we should comment in gocov's PR that it would be helpful in our case?

[2018-02-17 18:29] dthagard commented on #12
I’ve not had a chance to test. We can close this issue out for now, and I’ll reopen if and when I see the error again.

[2018-02-17 18:29] #12 closed

[2018-02-18 09:38] danielleberre commented on #35
Dear all,

I updated the README.md page to mention the workaround for docker users.

@kenjones-cisco could you check that the workaround solves your problem as well?

Thanks again @denouche for providing us that workaround.

[2018-02-18 19:40] danielleberre commented on #37
@thibaultfalque could we add the above vet errors in the plugin to close that issue?

[2018-02-19 13:23] thibaultfalque commented on #37
hi @Cosby86 and @danielleberre the first and the last error are present (00465710136012130065ea25ca3b20c1857d5222).

I will add the other rules but I don't find the rules in vet page (https://golang.org/cmd/vet/).

[2018-02-22 10:32] pcaneill commented on #45
It appears to work on master

[2018-02-22 10:32] #45 closed

[2018-03-07 19:35] BillHodghead opened #64 "No unit test results shown or used in SQ 7.0"
### Description
Does the plugin work in SonarQube 7.0? I haven't yet dropped back to 6.x
Although the unit test information appears to import, nothing appears in SonarQube to show the unit test status or failures and no rule is triggered for the unit test failure

### Steps to Reproduce

1. with SonarQube 7.0 installed and the latest scanner and the latest Golang plugin
2. run the scanner
3. succe

[2018-03-07 20:00] danielleberre commented on #64
I haven't yet tried release 7.0.

There is the following error message in the log:

`WARN: File not found /root/example/outyet/main_test.go`

Are you using docker to run the analysis?

[2018-03-07 21:35] BillHodghead commented on #64
Not on docker. Just an Ubuntu VM. The code itself is a simple example: https://github.com/golang/example/tree/master/outyet. That file main_test.go  does exist at that location.

That said, the test file is excluded from source and is only used for test scanning. What's missing is import of results from test.xml (included above).

[2018-03-07 23:55] BillHodghead commented on #64
I changed the sonar-project.properties file to

[code]
as mentioned in the release notes. This seems to give warnings that indicate the test file is being read, but nothing is showing up on the server for unit tests. Are there unit test attributes that are required and not being created by `go test -v ./... | go-junit-report > test.xml`?

[code]

[2018-03-08 13:24] danielleberre commented on #64
Could you add
`sonar.sources.exclusions=**/**_test.go`
in sonar-project.properties?

[2018-03-19 10:23] thibaultfalque commented on #64
Hi all,
I test the project with sonarqube 6.3. I have no problem. I will explore the problem with sonarqube 7.0.

[2018-03-19 10:39] BillHodghead commented on #64
We dropped back to 6.x and got everything to work. That might not have been needed. The exclusion above certainly helped and also using sed to replace the absolute paths in the coverage file with relative paths. Thanks so much for your help.

[2018-03-19 13:33] thibaultfalque commented on #64
I have test the projet with Sonarqube 7.0 and it's work.

1. Clone the project
1. Add a sonar-project.properties with this content:
[code]
1. gometalinter.v1 --checkstyle > report.xml
1. go test -v ./... | go-junit-report > test.xml
1. gocov test ./... | gocov-xml > coverage.xml
1. Run sonar-scanner

![screenshot-localhost 9000-2018-03-19-14-31-35](https://user-images.githubusercontent.com/6603358

[2018-03-21 23:37] mohanraj-r opened #65 "Which release supports sonarqube v5.6 ?"
### Description

We have sonarqube v5.6.6 and trying to install the plugin but noticing that the plugin needs v6+.
Since upgrading is not in our immediate plans, can you please let me know the version of the plugin that will work with sonarqube v5.6.6 ?

[2018-03-22 06:29] danielleberre commented on #65
Hi @mohanraj-r

We started the development of the plugin last year directly for sonar v6+. None of the available releases supports sonar v5.6.

[2018-03-22 21:05] mohanraj-r commented on #65
Thanks for the clarification

[2018-03-22 21:05] #65 closed, assigned to nobody

[2018-03-22 21:47] danielleberre opened #66 "The future of sonar-golang"
SonarSource is going to provide its own open source sonarqube plugin for the go language called [SonarGo](https://github.com/SonarSource/sonar-go) next month.

This is a good news in our opinion since now go will be a language officially supported by SonarQube.

The approach taken by SonarGo seems different from our plugin: instead of retrieving the issues/data from external tools as we do, they a

[2018-03-25 16:36] thibaultfalque commented on #64
@bhcrosslake Could you close this issue if the problem is resolved ?

[2018-03-26 07:49] caspell opened #67 "Maven build Errors."
### Description

Hi,

I get to source and build to maven from eclipse and command.

When i run mvn build or anything. it is return build failre.

i guess problems is "new HashMap<>();" in testExecution and testIgnoreFileStream of CoverageSensorTest class.

or maybe something my fault?

Thank you.

### Steps to Reproduce

1. git clone or eclipse git clone
2. maven build
3. failure

### Content of y

[2018-03-26 08:43] #64 closed, assigned to nobody

[2018-03-27 13:06] psandhu79 commented on #42
Is this fixed i am getting simiar error to this
ERROR: Not able to find a InputFile with .//usr/local/go/src/net/lookup_unix.go  the file does exist here
/usr/local/go/src/net/lookup_unix.go
i am not sure if the .// has any significance

[2018-03-28 16:51] introllo commented on #35
Have only recently been able to return to this issue. Have deployed updated version and now see my Go coverage metrics in my Sonar server.  I tested this combination:

TeamCity 10.0.4 & 2017.1.2 running as Docker containers (both build server and build agent)
SonarQube 6.4 running as Docker containers (Postgres and "eval" databases)
Sonar-Golang 1.2.11-rc13

Thanks for all the hard work!

[2018-03-31 10:41] thibaultfalque commented on #67
Hi,
What is your version of Java ?
Have you clone the maintenance branch?
I have clone the project and run `mvn clean install`. I haven't problem.

[2018-04-04 10:59] dieuhd opened #68 "How to change value of cyclomatic complexity?"
I want to change value of **cyclomatic complexity** from 10 to 30.

[code]

How to do it?

Thanks

[2018-04-04 13:08] thibaultfalque commented on #68
Hi,
The plugin use the gometalinter. It's not directly the plugin that generate the issues, the plugin read the report of issues generated by gometalinter.

So if you want change the cyclomatic complexity you must use the `-over` option of the linter [gocyclo](https://github.com/alecthomas/gocyclo), but I don't know how use this option with [gometalinter](https://github.com/alecthomas/gometalinter

[2018-04-11 13:23] thibaultfalque commented on #67
@caspell could you close this issue if the problem is resolved ?

[2018-04-11 13:23] thibaultfalque commented on #68
@dieuhd  could you close this issue if the problem is resolved ?

[2018-04-12 17:23] pms1969 commented on #42
My apologies for the delay.  I can confirm that in 1.2.11, the issue no longer exists.

[2018-04-13 12:19] pontusarfwedson opened #69 "Not able to find lookup_unix.go using wierd gopath/goroot"
### Description

When running sonar-scanner within the docker container specified by the Dockerfile specified in `https://github.com/cathive/concourse-sonarqube-resource` and have coverage, test and report from the tools described here we get:
`ERROR: Not able to find an InputFile from ./../../../../usr/local/go/src/net/lookup_unix.go`
This is being run as a resource in the CI system Concourse but

[2018-04-13 13:37] danielleberre commented on #69
hum, it looks similar to #35.

Could you try the workaround described in that issue?

[2018-04-16 08:15] pontusarfwedson commented on #69
Yeah, that is in fact working. I realised now that `gocov-xml` doesn't seem to be very well maintained (nothing has happened the last 5 years). Might there be a better option out there?

[2018-04-23 04:29] dieuhd commented on #68
Resolved.
I modifyed code of golint https://github.com/golang/lint.

[2018-04-23 04:29] #68 closed, assigned to nobody

[2018-05-08 12:14] rkettelerij commented on #66
I'm currently happily using this plugin (kudos for creating this!). I'm also glad to see SonarSource providing official language support. Would it be an idea to rename this plugin to sonar-go-metalinter? Since that's what we're currently using it for, as a SonarQube wrapper around GoMetaLinter.

[2018-05-08 12:27] danielleberre commented on #66
Yes, that's an option.

The idea would be to remove all code related to testing and to focus on the go metalinter integration with SonarQube.

There would be some changes also needed in the code to make it compatible with the current SonarGo.

[2018-05-08 12:54] danielleberre commented on #69
There should be a new upcoming version of `gocov-xml`.

The fix needs to be updated to the latest version on master:
https://github.com/AlekSi/gocov-xml/pull/4#issuecomment-385237188

[2018-05-17 05:43] Subhajit-Dutta opened #70 "Sonar Scanner is failing saying XML file is not correctly formatted for golang plugin and not displaying results in sonarqube"
### Description

I am getting below error

NFO: Analyse for /home/dca-cm/coverage.xml
[Fatal Error] coverage-04.dtd:1:3: The markup declarations contained or pointed to by the document type declaration must be well-formed.
ERROR: Exception:
org.xml.sax.SAXParseException: The markup declarations contained or pointed to by the document type declaration must be well-formed.

I have verified coverage.

[2018-05-17 05:45] Subhajit-Dutta commented on #70
[coverage.docx](https://github.com/uartois/sonar-golang/files/2011779/coverage.docx)

Sharing Coverage.xml for reference

[2018-05-17 05:49] Subhajit-Dutta commented on #70
[error-golang.txt](https://github.com/uartois/sonar-golang/files/2011767/error-golang.txt)
Here is the log of sonar scanner

[2018-05-21 09:14] thibaultfalque commented on #70
Hi,
It's very strange what is this file coverage.docx ? It is not the coverage report ? There are HTML and Go code.
Could you share the report generate by  `gocov test ./... | gocov-xml > coverage.xml` ?
See [this part of readme](https://github.com/uartois/sonar-golang#coverage-since-release-11) for more details.

[2018-05-22 17:09] mohanraj-r commented on #66
* Does the sonargo plugin have a way of customizing and disabling checks as necessary with a config file? We currently use a config file in our repos which controls the checks performed by gometalinter.

* Another advantage of gometalinter would be that we can run it locally in our dev env before checking the src in. Guess this is not a possibility with the sonargo checks.

[2018-05-23 14:02] alexkohler opened #72 "Add support for unused, gosimple, and staticcheck"
### Description
[code]

I think adding checks for `unused`, `gosimple`, and `staticcheck` would be really valuable, as they're all pretty powerful linters. Staticcheck and gosimple's error messages are outlined here: https://staticcheck.io/docs/staticcheck#overview and https://staticcheck.io/docs/gosimple

[2018-06-20 16:47] Tutj commented on #49
Hi guys,
I have the same error with "java.lang.StringIndexOutOfBoundsException: String index out of range: -7". Here is my version of SonarQube Scanner: 3.0.3.778

[2018-08-09 10:55] rkettelerij commented on #66
Since SonarGo 1.1 it's also possible to import GoMetaLinter reports in SonarQube. So this basically mimics the behaviour of this plugin, plus the additional features found in SonarGo itself.

So I think its safe to say SonarGo can fully replace this plugin at this point (for me). Again thanks to the maintainers (@danielleberre et al) for creating and maintaining this plugin!

[2018-08-10 07:07] yangwenmai opened #73 "The coverage of the calculation is wrong！"
### Description

I have some problems in [sonarqube-go-demo](https://github.com/yangwenmai/sonarqube-go-demo),  that coverage value is not correct.

I got coverage is 87.5% in local, but there is 64.3% in sonarqube.

### Steps to Reproduce

There is tips for sonarqube:

![image](https://user-images.githubusercontent.com/1710912/43943819-77505476-9caf-11e8-8da3-fa073cd9df20.png)

![image](https://u

[2018-09-24 14:24] SergiiOliinyk opened #74 "golangci-lint -> an integration with Sonar"
Would u consider to implement an integration golangci-lint with Sonar ?
https://github.com/golangci/golangci-lint

[2018-10-04 12:45] Subhajit-Dutta commented on #70
[reports.zip](https://github.com/uartois/sonar-golang/files/2446336/reports.zip)
I had shared the coverage.xml and test .xml
Surprising if i delete below lines the above error got vanished
------------------------------------------------------------------------------------
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE coverage SYSTEM "http://cobertura.sourceforge.net/xml/coverage-04.dtd">
-----

[2018-12-14 08:22] neil88 opened #75 "can not get coverage rate information in sonarqube"
### Description
I can not get coverage rate information in sonarqube

### Steps to Reproduce
1.Follow the instructions, to generate report.xml,coverage.xml,test.xml in my local

2. push to remote repository

3. configuration jenkins to use sonarqube scanner

4. the step3 has no build,only scan

### Content of your sonar-project.properties
[code]

### Log of sonar-scanner related to the plugin
[cod

[2019-03-22 11:53] echarrod opened #76 ""Failed to find test file""
### Description

Sonar scanning seems to not find the test files, but I can't work out why. There is some coverage, so I'm not sure where this is from.

### Steps to Reproduce

1. `Git clone git@github.com:getyoti/yoti-go-sdk.git`
2. `git checkout Sonar`
3. `go test -coverprofile=coverage.out -json > sonar-report.json`
4. `sonar-scanner`

### Content of your sonar-project.properties
[code]
### Log

[2019-03-29 09:06] thibaultfalque commented on #67
@caspell could you close this issue if the problem is resolved ?

[2019-03-29 09:07] thibaultfalque commented on #54
@lkwg82 could you close this issue if the problem is resolved ?

[2019-03-29 09:09] thibaultfalque commented on #69
@pontusarfwedson have you tried the solution suggested by @danielleberre  ?

[2019-03-29 09:12] thibaultfalque commented on #72
Hello @alexkohler,

I will add checks.

Thanks for your feedback.

[2019-03-29 09:24] thibaultfalque commented on #73
Hello  @yangwenmai,

I don't understand the 55.6% value. On the screenshot the coverage percent is 64,3%. Could you explain ?

[2019-03-29 09:25] thibaultfalque commented on #74
Hello @SergiiOliinyk,

I will check if it's possible.

Thanks for your feedback.

[2019-03-29 09:52] SergiiOliinyk commented on #74
@thibaultfalque thx!

[2019-03-29 10:56] thibaultfalque commented on #76
Hello,

I had try and the analysis work's for me with this step:

- go test -v ./... | go-junit-report > test.xml
- go test -coverprofile=coverage.out -json > sonar-report.json
- gocov convert coverage.out | gocov-xml > coverage.xml

![Screenshot_2019-03-29 go-sdk](https://user-images.githubusercontent.com/6603358/55227941-0e5ac300-5219-11e9-9af2-088b56118352.png)

[2019-03-29 11:10] thibaultfalque commented on #75
Hello @neil88,
Do you use sonarqube in docker ?

[2019-03-29 11:11] echarrod commented on #76
Thanks for trying it out.

I presume i'd need to add the following lines to my pipeline for that:
[code]
Are these the tools you're referring to?

I thought there would be some default go tools which would allow me to generate this coverage, but failing that I guess I could add these

[2019-03-29 15:39] echarrod commented on #76
I ran the above commands anyway, and can see `coverage.out`,`coverage.xml`,`sonar-report.json`, and `test.xml` produced, but I'm still getting
[code]

[2019-04-01 08:48] thibaultfalque commented on #76
Hello,

Could you post the logs for  `sonar-scanner -X` ?

Do you use sonarqube server in docker container ?

[2019-04-01 09:02] thibaultfalque commented on #70
Hello @Subhajit-Dutta,
Could you try disabling the DTD check?

[2019-04-01 09:52] thibaultfalque commented on #62
Hello @Cosby86

Do you have the problem with the latest version ? If not, could you close this issue ?

[2019-04-01 10:34] echarrod commented on #76
Hi,

logs when I run sonar-scanner -X. I have tried downloding the sonarqube7.7 community edition as well with the same result, this is with `7.7-community` docker image.

[code]

![image](https://user-images.githubusercontent.com/1381991/55321625-15304280-5472-11e9-934d-81c941cfa9b4.png)

[2019-04-01 11:12] thibaultfalque commented on #76
It is a path problem.

Could you post the test.xml file ?

Could you post the logs for `sonar-scanner -X` for this specific version ?

[sonar-golang-plugin-issue-76.zip](https://github.com/uartois/sonar-golang/files/3029036/sonar-golang-plugin-issue-76.zip)

[2019-04-01 13:21] echarrod commented on #76
test.xml:
[code]
Could the problem be that the classname is "v2"?

Do you mean replace the file in data\web\deploy\plugins\go with the one you posted and run `StartSonar.bat`?
I'm just having a access/permissions issue running it locally now, but will try to get it going

[2019-04-01 13:55] thibaultfalque commented on #76
Yes, maybe ...

In my case the path for sonarqube plugins is $SONARQUBE_HOME/extensions/plugins like [here](https://docs.sonarqube.org/latest/setup/install-plugin/)

I have created a specific version of the plugin for this issue with more logs for understood the problem. In the zip file, you have the jar plugin file.

[2019-04-01 14:59] thibaultfalque commented on #76
Yes, maybe ...

In my case the path for sonarqube plugins is $SONARQUBE_HOME/extensions/plugins like [here](https://docs.sonarqube.org/latest/setup/install-plugin/)

I have created a specific version of the plugin for this issue with more logs for understood the problem. In the zip file, you have the jar plugin file.

[2019-04-02 09:38] echarrod commented on #76
Right ok.
I couldn't get round the permissions issue so I ran SonarQube in the docker Container and removed the `sonar-go-plugin-1.1.0.1612.jar` file which was there, and replaced it with the one you supplied.
Hope this is what you're looking for!

Logs when I ran `sonar-scanner -X`:
[code]

[2019-04-02 12:18] thibaultfalque commented on #76
I think there is a confusion about plugin.

Do you use the **community plugin** for  Golang  or [**the official Sonarqube plugin for Golang**](https://github.com/SonarSource/sonar-go) ?

It's not the **same** plugin and the functionalities are different.

For the community plugin you must follow the instruction [here](https://github.com/uartois/sonar-golang) and for the official plugin it is [here

[2019-04-03 11:47] echarrod commented on #76
Ah ok, my apologies then. I'll raise an issue on https://github.com/SonarSource/sonar-go instead. Thanks for your help anyway!

[2019-04-03 14:11] thibaultfalque commented on #76
@echarrod could you close this issue ?

[2019-04-03 15:11] #76 closed, assigned to nobody

[2019-04-04 11:59] thibaultfalque commented on #74
Hello @SergiiOliinyk

I tried to use `golangci-lint` with the plugin. Because it does not use exactly the same format many violations are not displayed, even though some are.

I am going to update the plugin to consider the violations which are not recognized.

You can still execute the plugin (but violations will be missing). To do so, you will need to create the yaml file specified in the [docum

[2019-04-04 21:49] SergiiOliinyk commented on #74
@thibaultfalque thx!

[2019-05-06 09:24] SergiiOliinyk commented on #74
Hi @thibaultfalque did u have a chance to look into the plugin ?

[2019-08-02 05:42] hieu29791 opened #77 "ERROR: Error parsing coverage info for file coverage.xml: Invalid go coverage, expect 'mode:' on the first line."
### Description

ERROR: Error parsing coverage info for file coverage.xml: Invalid go coverage, expect 'mode:' on the first line

### Steps to Reproduce

[code]
### Content of your sonar-project.properties
[code]

*It will help us to check how you configured the plugin.*

### Log of sonar-scanner related to the plugin
![sonarqube](https://user-images.githubusercontent.com/10827875/62347140-ebbc1c0

[2020-02-21 17:20] juliorenner commented on #77
Could you solve it? I am facing the same issue

[2020-02-21 17:59] juliorenner commented on #77
I got rid of the error by sending the `cover.out` file.

[2020-03-26 18:12] jcollum commented on #77
@juliorenner the docs say you have to use xml format:

The .out file generated by `go tool cover` is not xml. For instance:

`go tool cover -func cover.out -o /go/src/foo/bar/coverage/api.cov` generates:

[code]

[2020-04-25 17:32] #72 closed, assigned to nobody

[2021-12-29 11:28] #54 closed

[2022-07-01 07:48] crystalyxiaoxianer opened #78 "sonar.go.tests.reportPaths can not support xml report"
### Description
sonar.go.tests.reportPaths can not support xml report
[Description of the issue]

### Steps to Reproduce

1. execute unittest: go test ./... -mod=readonly -coverprofile=cover.out | go-junit-report > unittest.xml
2. execute sonar scanning:  sonar-scanner -Dsonar.go.tests.reportPaths=unittest.xml
3. got a mistake:
INFO: Sensor XML Sensor [xml]
INFO: 1 source file to be analyzed
WARN: